/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.u-btn {
  color: $color-white;
  background: $color-bg-blue-4;
  display: inline-flex;
  align-items: center;
  padding: 12px 23px;
  border-radius: 6px;
  text-decoration: none;
  transition: $default-transition;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;

  @include bp(xlarge) {
    font-size: 16px;

    &:hover {
      background: $color-bg-blue-5;
    }
  }
}
