/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-family {
  font-family: $text-family;
  line-height: 1.2;
  color: $color-text;
  font-weight: 400;
}

.text-banner { /* 55px ~ 26px */
  font-size: 2.6rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 5.5rem; 
  }
}

.text-header { /* 22px ~ 18px */
  font-size: 1.8rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 2.2rem;
  }
}

.text-header-two { /* 22px ~ 16px */
  font-size: 1.6rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 2.2rem;
  }
}

.text-header-three { /* 18px */
  font-size: 1.8rem;
  line-height: 1.33;
}

.text-header-four { /* 18px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 1.8rem; 
  }
}

.text-subheader { /* 17px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 1.7rem; 
  }
}

.text-subheader-two { /* 17px ~ 14px */
  font-size: 1.4rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 1.7rem; 
  }
}

.text-number { /* 16px */
  font-size: 1.6rem;
  line-height: 1.33; 
}

.text-login { /* 16px ~ 12px */
  font-size: 1.2rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 1.6rem; 
  }
}

.text-contact { /* 15px ~ 16px */
  font-size: 1.6rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 1.5rem; 
  }
}

.text-body { /* 15px */
  font-size: 1.5rem;
  line-height: 1.33;
}

.text-links { /* 14px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.33;

  @include bp(large) {
    font-size: 1.4rem;
  }
}

.text-body-sm { /* 13px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.25;

  @include bp(large) {
    font-size: 1.3rem;
  }
}

.text-body-sm-2 { /* 12px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.25;

  @include bp(large) {
    font-size: 1.2rem;
  }
}

