{% from 'macros/icon.twig' import icon %}
{% extends 'layouts/base.twig' %}


{% block body %}

{% include "components/header.twig" %}

<main class="main-wrapper">

    {% include "components/branchenauswahl.twig" %}

    {% include "components/fliesstext-usp.twig" %}

    {% include "components/fliesstext-uber-uns.twig" %}

    {% include "components/aktuelles.twig" %}

    {% include "components/kontaktbaustein.twig" %}

    {% include "components/gut-zu-wissen-baustein.twig" %}

</main>

{% include "components/footer.twig" %}
        
{% endblock %}

