@charset "UTF-8";
/* Fonts
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Colors
   ========================================================================== */
/* ==========================================================================
   #SPACING
   ========================================================================== */
/**
 * Simple spacing classes
 */
.m-0 {
  margin: 0px; }

.p-0 {
  padding: 0px; }

.m-1 {
  margin: 10px; }

.p-1 {
  padding: 10px; }

.m-2 {
  margin: 20px; }

.p-2 {
  padding: 20px; }

.m-3 {
  margin: 30px; }

.p-3 {
  padding: 30px; }

.m-4 {
  margin: 40px; }

.p-4 {
  padding: 40px; }

.m-5 {
  margin: 50px; }

.p-5 {
  padding: 50px; }

.m-6 {
  margin: 60px; }

.p-6 {
  padding: 60px; }

.m-7 {
  margin: 70px; }

.p-7 {
  padding: 70px; }

.m-8 {
  margin: 80px; }

.p-8 {
  padding: 80px; }

.m-9 {
  margin: 90px; }

.p-9 {
  padding: 90px; }

.m-10 {
  margin: 100px; }

.p-10 {
  padding: 100px; }

.mt-0 {
  margin-top: 0px; }

.pt-0 {
  padding-top: 0px; }

.mt-1 {
  margin-top: 10px; }

.pt-1 {
  padding-top: 10px; }

.mt-2 {
  margin-top: 20px; }

.pt-2 {
  padding-top: 20px; }

.mt-3 {
  margin-top: 30px; }

.pt-3 {
  padding-top: 30px; }

.mt-4 {
  margin-top: 40px; }

.pt-4 {
  padding-top: 40px; }

.mt-5 {
  margin-top: 50px; }

.pt-5 {
  padding-top: 50px; }

.mt-6 {
  margin-top: 60px; }

.pt-6 {
  padding-top: 60px; }

.mt-7 {
  margin-top: 70px; }

.pt-7 {
  padding-top: 70px; }

.mt-8 {
  margin-top: 80px; }

.pt-8 {
  padding-top: 80px; }

.mt-9 {
  margin-top: 90px; }

.pt-9 {
  padding-top: 90px; }

.mt-10 {
  margin-top: 100px; }

.pt-10 {
  padding-top: 100px; }

.mb-0 {
  margin-bottom: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.mb-1 {
  margin-bottom: 10px; }

.pb-1 {
  padding-bottom: 10px; }

.mb-2 {
  margin-bottom: 20px; }

.pb-2 {
  padding-bottom: 20px; }

.mb-3 {
  margin-bottom: 30px; }

.pb-3 {
  padding-bottom: 30px; }

.mb-4 {
  margin-bottom: 40px; }

.pb-4 {
  padding-bottom: 40px; }

.mb-5 {
  margin-bottom: 50px; }

.pb-5 {
  padding-bottom: 50px; }

.mb-6 {
  margin-bottom: 60px; }

.pb-6 {
  padding-bottom: 60px; }

.mb-7 {
  margin-bottom: 70px; }

.pb-7 {
  padding-bottom: 70px; }

.mb-8 {
  margin-bottom: 80px; }

.pb-8 {
  padding-bottom: 80px; }

.mb-9 {
  margin-bottom: 90px; }

.pb-9 {
  padding-bottom: 90px; }

.mb-10 {
  margin-bottom: 100px; }

.pb-10 {
  padding-bottom: 100px; }

.ml-0 {
  margin-left: 0px; }

.pl-0 {
  padding-left: 0px; }

.ml-1 {
  margin-left: 10px; }

.pl-1 {
  padding-left: 10px; }

.ml-2 {
  margin-left: 20px; }

.pl-2 {
  padding-left: 20px; }

.ml-3 {
  margin-left: 30px; }

.pl-3 {
  padding-left: 30px; }

.ml-4 {
  margin-left: 40px; }

.pl-4 {
  padding-left: 40px; }

.ml-5 {
  margin-left: 50px; }

.pl-5 {
  padding-left: 50px; }

.ml-6 {
  margin-left: 60px; }

.pl-6 {
  padding-left: 60px; }

.ml-7 {
  margin-left: 70px; }

.pl-7 {
  padding-left: 70px; }

.ml-8 {
  margin-left: 80px; }

.pl-8 {
  padding-left: 80px; }

.ml-9 {
  margin-left: 90px; }

.pl-9 {
  padding-left: 90px; }

.ml-10 {
  margin-left: 100px; }

.pl-10 {
  padding-left: 100px; }

.mr-0 {
  margin-right: 0px; }

.pr-0 {
  padding-right: 0px; }

.mr-1 {
  margin-right: 10px; }

.pr-1 {
  padding-right: 10px; }

.mr-2 {
  margin-right: 20px; }

.pr-2 {
  padding-right: 20px; }

.mr-3 {
  margin-right: 30px; }

.pr-3 {
  padding-right: 30px; }

.mr-4 {
  margin-right: 40px; }

.pr-4 {
  padding-right: 40px; }

.mr-5 {
  margin-right: 50px; }

.pr-5 {
  padding-right: 50px; }

.mr-6 {
  margin-right: 60px; }

.pr-6 {
  padding-right: 60px; }

.mr-7 {
  margin-right: 70px; }

.pr-7 {
  padding-right: 70px; }

.mr-8 {
  margin-right: 80px; }

.pr-8 {
  padding-right: 80px; }

.mr-9 {
  margin-right: 90px; }

.pr-9 {
  padding-right: 90px; }

.mr-10 {
  margin-right: 100px; }

.pr-10 {
  padding-right: 100px; }

@media (min-width: 1024px) {
  .m-md-0 {
    margin: 0px; }
  .p-md-0 {
    padding: 0px; } }

@media (min-width: 1024px) {
  .m-md-1 {
    margin: 10px; }
  .p-md-1 {
    padding: 10px; } }

@media (min-width: 1024px) {
  .m-md-2 {
    margin: 20px; }
  .p-md-2 {
    padding: 20px; } }

@media (min-width: 1024px) {
  .m-md-3 {
    margin: 30px; }
  .p-md-3 {
    padding: 30px; } }

@media (min-width: 1024px) {
  .m-md-4 {
    margin: 40px; }
  .p-md-4 {
    padding: 40px; } }

@media (min-width: 1024px) {
  .m-md-5 {
    margin: 50px; }
  .p-md-5 {
    padding: 50px; } }

@media (min-width: 1024px) {
  .m-md-6 {
    margin: 60px; }
  .p-md-6 {
    padding: 60px; } }

@media (min-width: 1024px) {
  .m-md-7 {
    margin: 70px; }
  .p-md-7 {
    padding: 70px; } }

@media (min-width: 1024px) {
  .m-md-8 {
    margin: 80px; }
  .p-md-8 {
    padding: 80px; } }

@media (min-width: 1024px) {
  .m-md-9 {
    margin: 90px; }
  .p-md-9 {
    padding: 90px; } }

@media (min-width: 1024px) {
  .m-md-10 {
    margin: 100px; }
  .p-md-10 {
    padding: 100px; } }

@media (min-width: 1024px) {
  .mt-md-0 {
    margin-top: 0px; }
  .pt-md-0 {
    padding-top: 0px; } }

@media (min-width: 1024px) {
  .mt-md-1 {
    margin-top: 10px; }
  .pt-md-1 {
    padding-top: 10px; } }

@media (min-width: 1024px) {
  .mt-md-2 {
    margin-top: 20px; }
  .pt-md-2 {
    padding-top: 20px; } }

@media (min-width: 1024px) {
  .mt-md-3 {
    margin-top: 30px; }
  .pt-md-3 {
    padding-top: 30px; } }

@media (min-width: 1024px) {
  .mt-md-4 {
    margin-top: 40px; }
  .pt-md-4 {
    padding-top: 40px; } }

@media (min-width: 1024px) {
  .mt-md-5 {
    margin-top: 50px; }
  .pt-md-5 {
    padding-top: 50px; } }

@media (min-width: 1024px) {
  .mt-md-6 {
    margin-top: 60px; }
  .pt-md-6 {
    padding-top: 60px; } }

@media (min-width: 1024px) {
  .mt-md-7 {
    margin-top: 70px; }
  .pt-md-7 {
    padding-top: 70px; } }

@media (min-width: 1024px) {
  .mt-md-8 {
    margin-top: 80px; }
  .pt-md-8 {
    padding-top: 80px; } }

@media (min-width: 1024px) {
  .mt-md-9 {
    margin-top: 90px; }
  .pt-md-9 {
    padding-top: 90px; } }

@media (min-width: 1024px) {
  .mt-md-10 {
    margin-top: 100px; }
  .pt-md-10 {
    padding-top: 100px; } }

@media (min-width: 1024px) {
  .mb-md-0 {
    margin-bottom: 0px; }
  .pb-md-0 {
    padding-bottom: 0px; } }

@media (min-width: 1024px) {
  .mb-md-1 {
    margin-bottom: 10px; }
  .pb-md-1 {
    padding-bottom: 10px; } }

@media (min-width: 1024px) {
  .mb-md-2 {
    margin-bottom: 20px; }
  .pb-md-2 {
    padding-bottom: 20px; } }

@media (min-width: 1024px) {
  .mb-md-3 {
    margin-bottom: 30px; }
  .pb-md-3 {
    padding-bottom: 30px; } }

@media (min-width: 1024px) {
  .mb-md-4 {
    margin-bottom: 40px; }
  .pb-md-4 {
    padding-bottom: 40px; } }

@media (min-width: 1024px) {
  .mb-md-5 {
    margin-bottom: 50px; }
  .pb-md-5 {
    padding-bottom: 50px; } }

@media (min-width: 1024px) {
  .mb-md-6 {
    margin-bottom: 60px; }
  .pb-md-6 {
    padding-bottom: 60px; } }

@media (min-width: 1024px) {
  .mb-md-7 {
    margin-bottom: 70px; }
  .pb-md-7 {
    padding-bottom: 70px; } }

@media (min-width: 1024px) {
  .mb-md-8 {
    margin-bottom: 80px; }
  .pb-md-8 {
    padding-bottom: 80px; } }

@media (min-width: 1024px) {
  .mb-md-9 {
    margin-bottom: 90px; }
  .pb-md-9 {
    padding-bottom: 90px; } }

@media (min-width: 1024px) {
  .mb-md-10 {
    margin-bottom: 100px; }
  .pb-md-10 {
    padding-bottom: 100px; } }

@media (min-width: 1024px) {
  .ml-md-0 {
    margin-left: 0px; }
  .pl-md-0 {
    padding-left: 0px; } }

@media (min-width: 1024px) {
  .ml-md-1 {
    margin-left: 10px; }
  .pl-md-1 {
    padding-left: 10px; } }

@media (min-width: 1024px) {
  .ml-md-2 {
    margin-left: 20px; }
  .pl-md-2 {
    padding-left: 20px; } }

@media (min-width: 1024px) {
  .ml-md-3 {
    margin-left: 30px; }
  .pl-md-3 {
    padding-left: 30px; } }

@media (min-width: 1024px) {
  .ml-md-4 {
    margin-left: 40px; }
  .pl-md-4 {
    padding-left: 40px; } }

@media (min-width: 1024px) {
  .ml-md-5 {
    margin-left: 50px; }
  .pl-md-5 {
    padding-left: 50px; } }

@media (min-width: 1024px) {
  .ml-md-6 {
    margin-left: 60px; }
  .pl-md-6 {
    padding-left: 60px; } }

@media (min-width: 1024px) {
  .ml-md-7 {
    margin-left: 70px; }
  .pl-md-7 {
    padding-left: 70px; } }

@media (min-width: 1024px) {
  .ml-md-8 {
    margin-left: 80px; }
  .pl-md-8 {
    padding-left: 80px; } }

@media (min-width: 1024px) {
  .ml-md-9 {
    margin-left: 90px; }
  .pl-md-9 {
    padding-left: 90px; } }

@media (min-width: 1024px) {
  .ml-md-10 {
    margin-left: 100px; }
  .pl-md-10 {
    padding-left: 100px; } }

@media (min-width: 1024px) {
  .mr-md-0 {
    margin-right: 0px; }
  .pr-md-0 {
    padding-right: 0px; } }

@media (min-width: 1024px) {
  .mr-md-1 {
    margin-right: 10px; }
  .pr-md-1 {
    padding-right: 10px; } }

@media (min-width: 1024px) {
  .mr-md-2 {
    margin-right: 20px; }
  .pr-md-2 {
    padding-right: 20px; } }

@media (min-width: 1024px) {
  .mr-md-3 {
    margin-right: 30px; }
  .pr-md-3 {
    padding-right: 30px; } }

@media (min-width: 1024px) {
  .mr-md-4 {
    margin-right: 40px; }
  .pr-md-4 {
    padding-right: 40px; } }

@media (min-width: 1024px) {
  .mr-md-5 {
    margin-right: 50px; }
  .pr-md-5 {
    padding-right: 50px; } }

@media (min-width: 1024px) {
  .mr-md-6 {
    margin-right: 60px; }
  .pr-md-6 {
    padding-right: 60px; } }

@media (min-width: 1024px) {
  .mr-md-7 {
    margin-right: 70px; }
  .pr-md-7 {
    padding-right: 70px; } }

@media (min-width: 1024px) {
  .mr-md-8 {
    margin-right: 80px; }
  .pr-md-8 {
    padding-right: 80px; } }

@media (min-width: 1024px) {
  .mr-md-9 {
    margin-right: 90px; }
  .pr-md-9 {
    padding-right: 90px; } }

@media (min-width: 1024px) {
  .mr-md-10 {
    margin-right: 100px; }
  .pr-md-10 {
    padding-right: 100px; } }

@font-face {
  font-family: 'Gilroy Light';
  src: url("/wp-content/themes/peaforme/src/fonts/Gilroy-Light.woff") format("woff"), url("/wp-content/themes/peaforme/src/fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/wp-content/themes/peaforme/src/fonts/Gilroy-Medium.woff") format("woff"), url("/wp-content/themes/peaforme/src/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy Bold';
  src: url("/wp-content/themes/peaforme/src/fonts/Gilroy-Bold.woff") format("woff"), url("/wp-content/themes/peaforme/src/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/* ==========================================================================
   #ALIGN
   ========================================================================== */
.u-text-center {
  text-align: center; }

.u-text-left {
  text-align: left; }

.u-text-right {
  text-align: right; }

/* ==========================================================================
   #DISPLAY
   ========================================================================== */
.d-mobile {
  display: block; }
  @media (min-width: 1024px) {
    .d-mobile {
      display: none; } }

.d-medium {
  display: none; }
  @media (min-width: 768px) {
    .d-medium {
      display: block; } }

.d-desktop {
  display: none; }
  @media (min-width: 1024px) {
    .d-desktop {
      display: block; } }

.d-desktop-flex {
  display: none; }
  @media (min-width: 1024px) {
    .d-desktop-flex {
      display: flex; } }

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.u-btn {
  color: #ffffff;
  background: #00ADF0;
  display: inline-flex;
  align-items: center;
  padding: 12px 23px;
  border-radius: 6px;
  text-decoration: none;
  transition: all 200ms linear;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap; }
  @media (min-width: 1280px) {
    .u-btn {
      font-size: 16px; }
      .u-btn:hover {
        background: #0274B4; } }

/* ==========================================================================
   #HEADINGS
   ========================================================================== */
/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */
h1,
h2,
h3,
h4,
h5,
h6,
.heading-family {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  color: #00335E;
  font-weight: 400; }

.text-banner {
  /* 55px ~ 26px */
  font-size: 2.6rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-banner {
      font-size: 5.5rem; } }

.text-header {
  /* 22px ~ 18px */
  font-size: 1.8rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-header {
      font-size: 2.2rem; } }

.text-header-two {
  /* 22px ~ 16px */
  font-size: 1.6rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-header-two {
      font-size: 2.2rem; } }

.text-header-three {
  /* 18px */
  font-size: 1.8rem;
  line-height: 1.33; }

.text-header-four {
  /* 18px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-header-four {
      font-size: 1.8rem; } }

.text-subheader {
  /* 17px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-subheader {
      font-size: 1.7rem; } }

.text-subheader-two {
  /* 17px ~ 14px */
  font-size: 1.4rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-subheader-two {
      font-size: 1.7rem; } }

.text-number {
  /* 16px */
  font-size: 1.6rem;
  line-height: 1.33; }

.text-login {
  /* 16px ~ 12px */
  font-size: 1.2rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-login {
      font-size: 1.6rem; } }

.text-contact {
  /* 15px ~ 16px */
  font-size: 1.6rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-contact {
      font-size: 1.5rem; } }

.text-body {
  /* 15px */
  font-size: 1.5rem;
  line-height: 1.33; }

.text-links {
  /* 14px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.33; }
  @media (min-width: 1024px) {
    .text-links {
      font-size: 1.4rem; } }

.text-body-sm {
  /* 13px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.25; }
  @media (min-width: 1024px) {
    .text-body-sm {
      font-size: 1.3rem; } }

.text-body-sm-2 {
  /* 12px ~ 15px */
  font-size: 1.5rem;
  line-height: 1.25; }
  @media (min-width: 1024px) {
    .text-body-sm-2 {
      font-size: 1.2rem; } }

/* ==========================================================================
   #PAGE
   ========================================================================== */
/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */
:root {
  --scroll-bar: 8px; }

* {
  box-sizing: border-box; }

html {
  color: #00335E;
  font-size: 10px;
  line-height: 1.6;
  /* [1] */
  min-height: 100%;
  /* [3] */
  overflow-y: scroll;
  /* [2] */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  font-family: "Open Sans", sans-serif;
  position: relative; }

.main-wrapper {
  height: 100%;
  padding-top: 58px; }
  @media (min-width: 1024px) {
    .main-wrapper {
      padding-top: 120px; } }

.vh {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important; }

p {
  color: #00335E; }

/* ==========================================================================
   #IMAGES
   ========================================================================== */
/**
 * 1. Aspect ration images
 * 
 */
.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%; }

/* ==========================================================================
   #LINKS
   ========================================================================== */
a {
  color: inherit;
  text-decoration: none; }

/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */
/**
 * Font Colors
 */
.color-primary {
  color: #00335E; }

.color-lightblue {
  color: #00ADF0; }

.color-white {
  color: #ffffff; }

/**
 * Font Weights
 */
.f-300 {
  font-weight: 300; }

.f-400 {
  font-weight: 400; }

.f-600, .l-navbar__content:hover .l-navbar__link, .l-navbar__link.active, .standard-row__copy strong, .u-announcement__copy strong, .icon-row__text strong {
  font-weight: 600; }

/**
 * Line Heights
 */
.line-lg {
  line-height: 2.33; }

.line-big {
  line-height: 1.7; }

.line-reset {
  line-height: 1; }

/**
 * Letter Spacing
 */
.letter-spacing-sm {
  letter-spacing: -1px; }

/* ==========================================================================
   #LIST (UL & OL)
   ========================================================================== */
.list-reset {
  list-style: none; }

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

/**
  * Remove trailing margins from nested lists.
  */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
  * Remove default table spacing.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
  * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
  *    on fieldsets.
  */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0; }

/* ==========================================================================
   #LAYOUT
   ========================================================================== */
/* Simple flexbox layout system */
.d-flex {
  display: flex; }

.d-flex-center {
  justify-content: center;
  align-items: center; }

.d-flex-wrap {
  flex-wrap: wrap; }

.d-block {
  display: block; }

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
/**
 * Page-level constraining and wrapping elements.
 */
body:not(.has-scrollbar) .wrapper-stretched {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
  left: 0 !important; }

body.has-scrollbar .wrapper-stretched {
  width: calc(100vw - var(--scroll-bar)) !important;
  margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
  margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important; }

.wrapper-basic, .wrapper-full, .wrapper-small {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 768px) {
    .wrapper-basic, .wrapper-full, .wrapper-small {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (min-width: 1280px) {
    .wrapper-basic, .wrapper-full, .wrapper-small {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (min-width: 1600px) {
    .wrapper-basic, .wrapper-full, .wrapper-small {
      padding-left: 60px;
      padding-right: 60px; } }

.wrapper-full {
  max-width: 1300px; }

.wrapper-small {
  max-width: 1000px; }

.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300; }

.l-navbar__bar {
  background-color: #ffffff; }

.l-navbar__myhelmsauer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0073CD;
  padding: 3px 10px;
  align-items: center;
  z-index: 400; }
  @media (min-width: 1024px) {
    .l-navbar__myhelmsauer {
      padding: 10px 15px; } }

.l-navbar__padlock {
  width: 15px;
  height: 15px; }
  .l-navbar__padlock svg {
    width: 100%;
    height: 100%; }
  @media (min-width: 1024px) {
    .l-navbar__padlock {
      width: 25px;
      height: 35px; } }

.l-navbar__login {
  padding-left: 5px; }
  @media (min-width: 1024px) {
    .l-navbar__login {
      padding-left: 13px; } }

.l-navbar__container {
  height: 58px;
  position: relative;
  justify-content: space-between;
  align-items: flex-end; }
  @media (min-width: 1024px) {
    .l-navbar__container {
      height: 120px;
      justify-content: unset;
      align-items: unset; } }

.l-navbar__image {
  max-width: 100px;
  max-height: 58px; }
  @media (min-width: 1024px) {
    .l-navbar__image {
      max-width: 130px;
      max-height: 75px; } }

.l-navbar__img {
  width: 100%;
  height: 100%; }

.l-navbar__menu {
  display: none; }
  @media (min-width: 1024px) {
    .l-navbar__menu {
      display: flex; } }

.l-navbar__navigation {
  display: none;
  align-items: center; }
  @media (min-width: 1280px) {
    .l-navbar__navigation {
      display: flex; } }

.l-navbar__links {
  height: 100%;
  padding: 0;
  margin: 0; }

.l-navbar__item {
  display: flex;
  align-items: center;
  cursor: pointer; }

.l-navbar__content {
  height: 100%; }

.l-navbar__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px 0 25px;
  white-space: nowrap;
  transition: all 50ms linear; }

.l-navbar__dropdown {
  display: none;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0px 0px 10px 10px; }
  .l-navbar__dropdown.active {
    border-radius: 0; }
    .l-navbar__dropdown.active .l-navbar__submenu {
      border-radius: 0px 0px 10px 10px; }
  .l-navbar__dropdown.open {
    display: block; }

.l-navbar__dropdown__container {
  display: flex;
  margin: 0;
  padding: 0; }

.l-navbar__dropdown__item:hover {
  background-color: rgba(0, 51, 94, 0.9); }
  .l-navbar__dropdown__item:hover .l-navbar__dropdown__link {
    color: #ffffff; }

.l-navbar__dropdown__item.active {
  background-color: rgba(0, 51, 94, 0.9); }
  .l-navbar__dropdown__item.active .l-navbar__dropdown__link {
    color: #ffffff; }

.l-navbar__dropdown__link {
  padding: 20px 30px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center; }

.l-navbar__submenu {
  position: absolute;
  display: none;
  width: 100%;
  padding: 30px 40px;
  background-color: rgba(0, 51, 94, 0.9); }
  .l-navbar__submenu.open {
    display: flex; }

.l-navbar__column {
  width: 25%;
  padding-left: 60px;
  flex-direction: column; }

.l-navbar__column__title {
  margin-bottom: 14px; }

.l-navbar__column__list {
  margin: 0 0 13px 0;
  padding: 0;
  color: #ffffff; }

.l-navbar__burger {
  display: block;
  position: relative;
  width: 28px;
  height: 16px;
  margin-bottom: 6px; }
  @media (min-width: 1024px) {
    .l-navbar__burger {
      display: none; } }

.l-navbar__burger::before,
.l-navbar__burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00335E;
  transform: translateY(-50%); }

.l-navbar__burger::before {
  top: 0; }

.l-navbar__burger::after {
  top: 100%; }

.l-navbar__line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #00335E; }

.m-menu {
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 51, 94, 0.9);
  padding: 20px 0;
  border-radius: 0px 0px 6px 6px; }
  @media (min-width: 1024px) {
    .m-menu {
      display: none; } }

.m-menu__list,
.m-menu__dropdown,
.m-menu__submenu,
.m-menu__pulldown {
  margin: 0;
  padding: 0; }

.m-menu__item {
  margin-bottom: 16px; }
  .m-menu__item:last-child {
    margin-bottom: 0; }

.m-menu__element {
  cursor: pointer; }

.m-menu__link--active {
  font-weight: 600; }

.m-menu__dropdown {
  margin-top: 7px; }

.m-menu__dropdown,
.m-menu__submenu,
.m-menu__pulldown {
  display: none; }

.m-menu__dropdown__link,
.m-menu__submenu__link,
.m-menu__pulldown__link {
  padding: 10px 0;
  background-color: rgba(0, 115, 205, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.m-menu__dropdown__link--active {
  background-color: transparent;
  font-weight: 600; }

.u-footer {
  background-color: #00335E; }

.u-footer__container {
  padding: 20px 0; }

.u-footer__top {
  margin-bottom: 15px; }

.u-footer__title {
  width: 50%; }

.u-footer__navigation {
  width: 50%; }

.u-footer__list {
  padding: 0;
  margin: 0; }

.u-footer__item {
  padding-right: 20px; }

.u-footer__address {
  padding-right: 20px; }

.u-footer__svg {
  width: 40px;
  height: 40px; }
  .u-footer__svg svg {
    width: 100%;
    height: 100%; }

/* ==========================================================================
   #BRANCHENAUSWAHL (INFO CARDS) / PARTIAL
   ========================================================================== */
.info-cards__wrapper {
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .info-cards__wrapper {
      margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .info-cards__wrapper {
      margin-bottom: 70px; } }

.info-cards__row {
  flex-direction: column; }
  @media (min-width: 1024px) {
    .info-cards__row {
      flex-direction: row;
      margin: 0 -25px; } }
  @media (min-width: 1280px) {
    .info-cards__row {
      margin: 0 -6px; } }

.info-cards__column {
  width: 100%;
  margin-bottom: 27px; }
  .info-cards__column:last-child {
    margin-bottom: 0; }
  @media (min-width: 1024px) {
    .info-cards__column {
      width: calc(50% - 50px);
      margin: 25px 25px; }
      .info-cards__column:last-child {
        margin: 25px 25px; } }
  @media (min-width: 1280px) {
    .info-cards__column {
      width: calc(25% - 12px);
      margin: 11px 6px; }
      .info-cards__column:last-child {
        margin: 11px 6px; } }

.info-cards__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.info-cards__box {
  position: relative;
  overflow: hidden;
  margin-top: -15px;
  background-color: #E5F0F9;
  width: 260px;
  margin-bottom: 10px; }
  @media (min-width: 1024px) {
    .info-cards__box {
      margin-bottom: 15px; } }

.info-cards__content {
  position: relative;
  padding: 12px 20px 12px 20px;
  z-index: 100; }
  @media (min-width: 1024px) {
    .info-cards__content {
      padding: 20px 20px 20px 20px; } }

@media (min-width: 1024px) {
  .info-cards__title {
    margin-bottom: 5px; } }

.info-cards__copy {
  display: none;
  margin: 0; }
  @media (min-width: 1024px) {
    .info-cards__copy {
      display: block; } }

.info-cards__copy__mobile {
  display: block;
  margin: 0 0 10px 0; }
  @media (min-width: 1024px) {
    .info-cards__copy__mobile {
      display: none; } }

.info-cards__list {
  padding-left: 20px;
  margin: 0; }
  @media (min-width: 1024px) {
    .info-cards__list {
      padding-left: 40px; } }

.info-cards__item {
  position: relative;
  margin-bottom: 5px; }
  .info-cards__item:last-child {
    margin-bottom: 0; }

.info-cards__item::before {
  content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00586 10.503L5.53281 5.97607L1.00586 1.61679' stroke='%2300ADF0' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 1px; }

.standard-row__wrapper {
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .standard-row__wrapper {
      margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .standard-row__wrapper {
      margin-bottom: 70px; } }

.standard-row {
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1024px) {
    .standard-row {
      flex-direction: row;
      align-items: unset; } }

.standard-row__image {
  width: 100%;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .standard-row__image {
      margin-bottom: 27px; } }
  @media (min-width: 1024px) {
    .standard-row__image {
      width: 36%;
      margin-bottom: 0; } }

.standard-row__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.standard-row__content {
  width: 100%; }
  @media (min-width: 1024px) {
    .standard-row__content {
      padding-left: 13px;
      width: 64%; } }

.standard-row__title {
  margin-bottom: 5px; }
  @media (min-width: 1024px) {
    .standard-row__title {
      margin-bottom: 17px; } }

.standard-row__subtitle {
  margin-bottom: 16px; }
  @media (min-width: 1024px) {
    .standard-row__subtitle {
      margin-bottom: 20px; } }

.standard-row__copy p {
  margin: 0 0 16px 0; }
  .standard-row__copy p:last-child {
    margin-bottom: 0; }
  @media (min-width: 1024px) {
    .standard-row__copy p {
      margin: 0 0 20px 0; } }

.standard-row__copy strong {
  text-decoration: underline; }
  @media (min-width: 1024px) {
    .standard-row__copy strong {
      text-decoration: none; } }

@media (min-width: 1024px) {
  .standard-row--revert .standard-row__content {
    padding-left: 0;
    padding-right: 13px;
    order: 0; } }

@media (min-width: 1024px) {
  .standard-row--revert .standard-row__image {
    order: 2; } }

.u-announcement__wrapper {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .u-announcement__wrapper {
      margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .u-announcement__wrapper {
      margin-bottom: 70px; } }

.u-announcement__top {
  display: flex;
  align-items: center;
  padding: 0 0 10px 0; }
  @media (min-width: 768px) {
    .u-announcement__top {
      padding: 0 30px 20px 30px; } }

.u-announcement__svg {
  width: 45px;
  height: 45px; }
  .u-announcement__svg svg {
    width: 100%;
    height: 100%; }
  @media (min-width: 768px) {
    .u-announcement__svg {
      width: 70px;
      height: 70px; } }

.u-announcement__header {
  padding-left: 15px; }
  @media (min-width: 768px) {
    .u-announcement__header {
      padding-left: 40px; } }

.u-announcement__bottom {
  border-top: 3px solid #E5F0F9;
  border-bottom: 3px solid #E5F0F9;
  padding: 20px 0 30px 0;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .u-announcement__bottom {
      border-top: 7px solid #E5F0F9;
      border-bottom: 7px solid #E5F0F9; } }
  @media (min-width: 1024px) {
    .u-announcement__bottom {
      padding: 20px 0 25px 0;
      flex-direction: row; } }

.u-announcement__content {
  width: 100%;
  margin-bottom: 26px; }
  @media (min-width: 1024px) {
    .u-announcement__content {
      width: 76%;
      padding-right: 80px;
      margin-bottom: 0; } }

.u-announcement__image {
  width: 55%; }
  @media (min-width: 1024px) {
    .u-announcement__image {
      width: 25%;
      padding-right: 80px; } }

.u-announcement__img {
  max-width: 100%;
  height: 100%; }

.u-announcement__content__title {
  margin-bottom: 15px; }

.u-announcement__copy {
  margin-bottom: 16px; }
  .u-announcement__copy p {
    margin: 0 0 16px 0; }
    .u-announcement__copy p:last-child {
      margin-bottom: 0; }
    @media (min-width: 1280px) {
      .u-announcement__copy p {
        margin: 0 0 20px 0; } }
  @media (min-width: 1024px) {
    .u-announcement__copy {
      margin-bottom: 0; } }

.u-announcement__more {
  display: inline-block;
  position: relative;
  padding-left: 22px; }
  @media (min-width: 1024px) {
    .u-announcement__more {
      padding-left: 0; } }
  @media (min-width: 1280px) {
    .u-announcement__more {
      cursor: pointer; } }

.u-announcement__more::after {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 6.6 3.9' style='enable-background:new 0 0 6.6 3.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%2300ADF0;stroke-width:1.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='5.9,0.6 3.3,3.3 0.7,0.6 '/%3E%3C/svg%3E%0A");
  position: absolute;
  left: 0;
  width: 14px;
  height: 9px; }
  @media (min-width: 1024px) {
    .u-announcement__more::after {
      left: unset;
      right: -20px;
      top: 0; } }

.contact-info__wrapper {
  min-height: 120px;
  margin-bottom: 34px; }
  @media (min-width: 768px) {
    .contact-info__wrapper {
      margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .contact-info__wrapper {
      margin-bottom: 70px; } }

.contact-info {
  margin: 0 -20px; }
  @media (min-width: 768px) {
    .contact-info {
      margin: 0 -40px; } }
  @media (min-width: 1024px) {
    .contact-info {
      margin: 0; } }

.contact-info__row {
  flex-direction: column; }
  @media (min-width: 1024px) {
    .contact-info__row {
      flex-direction: row; } }

.contact-info__image {
  width: 100%; }
  @media (min-width: 1024px) {
    .contact-info__image {
      width: 24%; } }

.contact-info__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.contact-info__bar {
  width: 100%;
  background-color: #00335E;
  padding: 20px 20px 40px 20px; }
  @media (min-width: 768px) {
    .contact-info__bar {
      padding: 40px 40px; } }
  @media (min-width: 1024px) {
    .contact-info__bar {
      width: 76%;
      padding: 20px 0 40px 20px; } }

.contact-info__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }

.contact-info__headline {
  margin-bottom: 36px; }
  @media (min-width: 1024px) {
    .contact-info__headline {
      margin-bottom: 40px; } }

.contact-info__title {
  margin-bottom: 16px; }
  @media (min-width: 1024px) {
    .contact-info__title {
      margin-bottom: 5px; } }

.contact-info__contact {
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 1024px) {
    .contact-info__contact {
      flex-direction: row; } }

.contact-info__details {
  flex-direction: column; }
  @media (min-width: 1024px) {
    .contact-info__details {
      flex-direction: row; } }

.contact-info__item {
  align-items: center;
  margin-bottom: 25px; }
  @media (min-width: 1024px) {
    .contact-info__item {
      margin-bottom: 0;
      padding-right: 20px; } }

.contact-info__svg {
  width: 40px;
  height: 40px; }
  .contact-info__svg svg {
    width: 100%;
    height: 100%; }

.contact-info__text {
  padding-left: 10px;
  text-decoration: underline; }
  @media (min-width: 1024px) {
    .contact-info__text {
      padding-left: 20px;
      text-decoration: none; } }

.contact-info__cta {
  display: flex;
  justify-content: center; }
  @media (min-width: 480px) {
    .contact-info__cta {
      display: block;
      justify-content: unset; } }
  @media (min-width: 1024px) {
    .contact-info__cta {
      padding-right: 60px; } }

.icons-row__wrapper {
  margin-bottom: 36px; }
  @media (min-width: 768px) {
    .icons-row__wrapper {
      margin-bottom: 50px; } }
  @media (min-width: 1024px) {
    .icons-row__wrapper {
      margin-bottom: 70px; } }

.icons-row__title {
  margin-bottom: 5px; }

.icons-row__subtitle {
  margin-bottom: 15px; }

.icons-row__icons {
  margin: 0 -10px; }
  @media (min-width: 768px) {
    .icons-row__icons {
      margin: 0 -25px; } }
  @media (min-width: 1280px) {
    .icons-row__icons {
      margin: 0 -20px; } }

.icons-row__item {
  margin: 20px 5px;
  width: calc(50% - 10px);
  flex-direction: column; }
  @media (min-width: 480px) {
    .icons-row__item {
      margin: 30px 25px;
      width: calc(33.33% - 50px); } }
  @media (min-width: 1280px) {
    .icons-row__item {
      margin: 20px;
      flex: 1; } }

.icons-row__image {
  display: flex;
  margin-bottom: 18px;
  justify-content: center; }
  .icons-row__image svg {
    width: 40px;
    height: 30px; }
  @media (min-width: 768px) {
    .icons-row__image svg {
      width: 70px;
      height: 50px; } }
  @media (min-width: 768px) {
    .icons-row__image {
      margin-bottom: 30px; } }

.icon-row__text {
  text-align: center; }
  .icon-row__text p {
    margin: 0 0 15px 0; }
    .icon-row__text p:last-child {
      margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */
