<div class="u-announcement__wrapper wrapper-small">
    <section class="u-announcement">
        <div class="u-announcement__top d-flex">
            <div class="u-announcement__svg">
                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 50.3 49.3" style="enable-background:new 0 0 50.3 49.3" xml:space="preserve"><style>.st0{clip-path:url(#SVGID_00000114063139885245554820000010750903529987582392_);fill:#00adf0}</style><defs><path id="SVGID_1_" d="M0 0h50.3v49.3H0z"/></defs><clipPath id="SVGID_00000053503781253275609560000000046845930246750636_"><use xlink:href="#SVGID_1_" style="overflow:visible"/></clipPath><path style="clip-path:url(#SVGID_00000053503781253275609560000000046845930246750636_);fill:#00adf0" d="M36.8 0c-1.7 0-3.5 1.4-5.5 4.3-3.7 5.4-14.1 6-18.4 6-1.9 0-3.2-.1-3.2-.1h-.1C4.3 10.2 0 15.3 0 21.7s3.6 10.7 8.9 10.7c4.6.1 18.1 2.4 22.3 7.5 1.9 2.3 3.9 3.6 5.8 3.6 1.1 0 2-.4 2.7-1.3.7-.8 1.1-2 1.1-3.4V5.3c0-1.2-.6-2.7-.7-2.9-.8-1.5-2-2.4-3.3-2.4zm0 1.9c1.9 0 2.4 3.4 2.4 3.4v33.5c0 1.8-.9 2.8-2.2 2.8-1.3 0-3-.9-4.7-3-5.6-6.8-23.4-8.1-23.4-8.1-4.4 0-7.3-3.5-7.3-8.8 0-5.3 3.6-9.6 8-9.6 0 0 1.3.1 3.4.1 5.4 0 15.7-.8 19.7-6.7 1.8-2.7 3.1-3.6 4.1-3.6"/><path style="clip-path:url(#SVGID_00000053503781253275609560000000046845930246750636_);fill:#00adf0" d="M18.5 33.6c-.4 0-.8-.4-.8-.9v-19c0-.5.4-.9.8-.9s.8.4.8.9v18.9c0 .6-.3 1-.8 1M34 42.1c-.4 0-.8-.4-.8-.9v-19c0-.5.4-.9.8-.9s.8.4.8.9v18.9c0 .6-.3 1-.8 1"/><path style="clip-path:url(#SVGID_00000053503781253275609560000000046845930246750636_);fill:#00adf0" d="M9.6 31c-.4 0-.8.2-1.1.5-.3.4-.5 1-.5 1.5.4 6.2 1.8 11.7 4 15.5.3.5.8.8 1.3.8h5.2c.5 0 1-.3 1.3-.8.3-.5.4-1.2.2-1.8-1.4-4.5-2-8.3-2-12.9 0-1-.6-1.8-1.4-1.9L9.8 31h-.2m0 1.9 6.8.9c0 5.3.8 9.3 2.2 13.6h-5.2c-2.1-3.4-3.5-8.6-3.8-14.5M49.5 23.6h-5.7c-.4 0-.8-.4-.8-.9s.4-.9.8-.9h5.7c.4 0 .8.4.8.9s-.3.9-.8.9M43.8 13.2c-.2 0-.5-.1-.6-.4-.3-.4-.2-1 .2-1.3l4-3.6c.3-.3.8-.2 1.1.2.3.4.2 1-.2 1.3l-4 3.6c-.2.2-.3.2-.5.2M47.8 36.8c-.2 0-.3-.1-.5-.2l-4-3.6c-.3-.3-.4-.9-.2-1.3.3-.4.8-.5 1.1-.2l4 3.6c.3.3.4.9.2 1.3-.1.2-.4.4-.6.4"/></svg>
            </div>
            <div class="u-announcement__header">
                <h2 class="u-announcement__title text-header f-300">Aktuelles!</h2>
            </div>
        </div>
        <div class="u-announcement__bottom d-flex">
            <div class="u-announcement__content">
                <h3 class="u-announcement__content__title text-subheader f-600">HELMSAUER-Gruppe erneut ausgezeichnet</h3>
                <div class="u-announcement__copy text-body f-300">
                    <p>Focus Money zeichnet alle Unternehmen mit dem Siegel „HOHE KOMPETENZ“ aus, welche in ihrer Branche laut aller ausgewerteten Stimmen besser als der Gesamtmittelwert abschneiden. Unternehmen wie die HELMSAUER Gruppe, welche über eben diesem Durchschnitt liegen, erhalten die Auszeichnung „HÖCHSTE KOMPETENZ“.</p>
                    <p>Erneut durften wir uns also über die Auszeichnung “HÖCHSTE KOMPETENZ” freuen. Dies bestätigt uns in unserem Tun. Unsere Mission ist es, unseren Kunden ein möglichst perfekter Dienstleister zu sein.</p>
                </div>
                <div class="u-announcement__more color-lightblue text-body f-600">weiterlesen</div>
            </div>
            <div class="u-announcement__image d-flex 
            d-flex-center">
                <img class="u-announcement__img" src="assets/images/certificate1.png">
            </div>
        </div>
    </section>
</div>