<div class="info-cards__wrapper wrapper-full">
    <section class="info-cards">
        <div class="info-cards__row d-flex d-flex-wrap">
            <div class="info-cards__column">
                <div class="info-cards__image">
                    <img class="info-cards__img d-block" src="assets/images/Startseite_Branchenauswahl_Gesundheitswesen_AdobeStock_264073464.jpg">
                </div> 
                <div class="info-cards__box">
                    <div class="info-cards__content">
                        <h2 class="info-cards__title text-header-three f-300">Gesundheitswesen</h2>
                        <p class="info-cards__copy text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                    </div>
                </div>
                <p class="info-cards__copy__mobile text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                <ul class="info-cards__list d-block list-reset">
                    <li class="info-cards__item text-body-sm f-300">Versicherung</li>
                    <li class="info-cards__item text-body-sm f-300">Abrechnung für Ärzte</li>
                    <li class="info-cards__item text-body-sm f-300">Betriebswirtschaftliche Beratung</li>
                    <li class="info-cards__item text-body-sm f-300">IT-Lösungen</li>
                    <li class="info-cards__item text-body-sm f-300">Bildungsangebot</li>
                    <li class="info-cards__item text-body-sm f-300">Services</li>
                </ul>
            </div>
            <div class="info-cards__column">
                <div class="info-cards__image">
                    <img class="info-cards__img d-block" src="assets/images/Startseite_Branchenauswahl_Gesundheitswesen_AdobeStock_264073464.jpg">
                </div> 
                <div class="info-cards__box">
                    <div class="info-cards__content">
                        <h2 class="info-cards__title text-header-three f-300">Gesundheitswesen</h2>
                        <p class="info-cards__copy text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                    </div>
                </div>
                <p class="info-cards__copy__mobile text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                <ul class="info-cards__list d-block list-reset">
                    <li class="info-cards__item text-body-sm f-300">Versicherung</li>
                    <li class="info-cards__item text-body-sm f-300">Abrechnung für Ärzte</li>
                    <li class="info-cards__item text-body-sm f-300">Betriebswirtschaftliche Beratung</li>
                    <li class="info-cards__item text-body-sm f-300">IT-Lösungen</li>
                    <li class="info-cards__item text-body-sm f-300">Bildungsangebot</li>
                    <li class="info-cards__item text-body-sm f-300">Services</li>
                </ul>
            </div>
            <div class="info-cards__column">
                <div class="info-cards__image">
                    <img class="info-cards__img d-block" src="assets/images/Startseite_Branchenauswahl_Gesundheitswesen_AdobeStock_264073464.jpg">
                </div> 
                <div class="info-cards__box">
                    <div class="info-cards__content">
                        <h2 class="info-cards__title text-header-three f-300">Gesundheitswesen</h2>
                        <p class="info-cards__copy text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                    </div>
                </div>
                <p class="info-cards__copy__mobile text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                <ul class="info-cards__list d-block list-reset">
                    <li class="info-cards__item text-body-sm f-300">Versicherung</li>
                    <li class="info-cards__item text-body-sm f-300">Abrechnung für Ärzte</li>
                    <li class="info-cards__item text-body-sm f-300">Betriebswirtschaftliche Beratung</li>
                    <li class="info-cards__item text-body-sm f-300">IT-Lösungen</li>
                    <li class="info-cards__item text-body-sm f-300">Bildungsangebot</li>
                    <li class="info-cards__item text-body-sm f-300">Services</li>
                </ul>
            </div>
            <div class="info-cards__column">
                <div class="info-cards__image">
                    <img class="info-cards__img d-block" src="assets/images/Startseite_Branchenauswahl_Gesundheitswesen_AdobeStock_264073464.jpg">
                </div> 
                <div class="info-cards__box">
                    <div class="info-cards__content">
                        <h2 class="info-cards__title text-header-three f-300">Gesundheitswesen</h2>
                        <p class="info-cards__copy text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                    </div>
                </div>
                <p class="info-cards__copy__mobile text-body-sm-2 f-600">Für Ärzte, MVZ, Kliniken, Physio-therapeuten und Leistungs-erbringer  bieten wir indivi-duelle und optimierte Konzepte.</p>
                <ul class="info-cards__list d-block list-reset">
                    <li class="info-cards__item text-body-sm f-300">Versicherung</li>
                    <li class="info-cards__item text-body-sm f-300">Abrechnung für Ärzte</li>
                    <li class="info-cards__item text-body-sm f-300">Betriebswirtschaftliche Beratung</li>
                    <li class="info-cards__item text-body-sm f-300">IT-Lösungen</li>
                    <li class="info-cards__item text-body-sm f-300">Bildungsangebot</li>
                    <li class="info-cards__item text-body-sm f-300">Services</li>
                </ul>
            </div>
        </div>
    </section>
</div>