<div class="icons-row__wrapper wrapper-full">
    <section class="icons-row">
        <div class="icons-row__container">
            <h2 class="icons-row__title text-header-two f-300">Gut zu wissen</h2>
            <h3 class="icons-row__subtitle text-subheader-two f-600">Über die HELMAUER Gruppe</h3>
            <div class="icons-row__icons d-flex d-flex-wrap">
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 41.07 27.7"><defs><clipPath id="clip-path" transform="translate(-18.03 -8.67)"><rect x="18.05" y="8.66" width="40.9" height="27.6" style="fill:none"/></clipPath></defs><g style="clip-path:url(#clip-path)"><path d="M57.75,16.66a2.44,2.44,0,0,1-.8,1.5l-5.2,5.2a2.06,2.06,0,0,1-1.3.5,1.68,1.68,0,0,1-1-.3l-1.2-1.1c-3.4-3.5-5.6-5.8-6.6-6.8a2,2,0,0,0-1.5-.6,8.36,8.36,0,0,0-2.9.8c-2.2.9-3,1-3.4.2a1.4,1.4,0,0,1,.1-1.4c1-1.9,4.4-3.8,6.2-4s6.3,1,7.8,1.5l.3.1,2.5-2a2.46,2.46,0,0,1,1.5-.5,2.06,2.06,0,0,1,1.4.7l3.8,4.4a5.53,5.53,0,0,1,.3,1.8m-6.4,10.9a2.06,2.06,0,0,1-.5,1.3,2.73,2.73,0,0,1-1.2.6h-.5c-.1-.1-.2-.1-.3-.2-2.7-2.6-4.4-4.2-5-4.8l-.1-.1h-.1a.63.63,0,0,0-.4-.1.58.58,0,0,0-.6.56v0l.3.5,4.6,4.3a2.73,2.73,0,0,1,.6,1.2,2.06,2.06,0,0,1-.5,1.3,1.85,1.85,0,0,1-1.6.5h0c-.1-.1-.2-.1-.3-.2l-.2-.2a3.29,3.29,0,0,0-.6-1l-4.3-3.6h-.1c-.1,0-.2-.1-.3-.1a.58.58,0,0,0-.6.56v0a.72.72,0,0,0,.2.5l.2.1h0l4.2,3.8V33a2.06,2.06,0,0,1-.5,1.3,1.85,1.85,0,0,1-1.6.5h-.1c-.1-.1-.2-.1-.3-.2l-1.7-1.8c-1-1.1-1.4-1.5-1.5-1.6a.68.68,0,0,0-1-.05.73.73,0,0,0-.23.45.62.62,0,0,0,.4.6h.1l1,.9v.1a1.79,1.79,0,0,1-.4,1.7,1.64,1.64,0,0,1-1.3.6h-.4c-.1-.1-.2-.1-.3-.2l-1.6-1.6.4-.4a1.93,1.93,0,0,0,.07-2.73l-.07-.07-.7-.8a2.17,2.17,0,0,0-.6-.4l-.2-.1.1-.2a1.8,1.8,0,0,0-.4-2.2l-.8-.8a4.25,4.25,0,0,0-.7-.5l-.2-.1v-.2a2.08,2.08,0,0,0,.1-.7,2,2,0,0,0-.6-1.4l-.8-.8a2,2,0,0,0-1.4-.6.74.74,0,0,0-.5.1l-.2.1v-.2a1.84,1.84,0,0,0-.5-.7l-.8-.8a1.93,1.93,0,0,0-2.73-.07l-.07.07-1.2,1.2h-.3a1.89,1.89,0,0,1-1.3-.5v-.1l-1.7-2.7c-.6-1.2-.9-2-.1-2.8l3.1-4.2c.8-.8,1.5-1.1,2.9,0,.8.5,1.9.5,4,.6h.8a6.17,6.17,0,0,0,2.5-.6,5.6,5.6,0,0,1,3.1-.5l.8.1-.7.4a9.57,9.57,0,0,0-3.4,3.2,2.65,2.65,0,0,0-.1,2.6c1,1.9,3.2,1,4.9.3,1.5-.6,2.6-1,3.1-.5,2.5,2.5,8.6,8.3,8.6,8.3l1.5,1.4a1.57,1.57,0,0,1,.6,1.2m-16.8,4.9-1.8,1.8a.83.83,0,0,1-.6.3.89.89,0,0,1-.7-.3l-.8-.8a1,1,0,0,1,0-1.4l1.8-1.8a1,1,0,0,1,1.4,0l.8.8a.89.89,0,0,1,.3.7c-.1.3-.2.6-.4.7M29,32.4a.89.89,0,0,1-.7.3,1.09,1.09,0,0,1-.7-.3l-.8-.8a.85.85,0,0,1-.1-1.2.94.94,0,0,1,.1-.1l3.7-3.6a1,1,0,0,1,1.3,0l.8.8a.85.85,0,0,1,.1,1.2.94.94,0,0,1-.1.1Zm-3.7-2a.83.83,0,0,1-.6.3.89.89,0,0,1-.7-.3l-.8-.8a.85.85,0,0,1-.1-1.2.94.94,0,0,1,.1-.1l.3-.3.3-.3,4-4c.1-.1.2-.2.2-.3l.4-.4a.94.94,0,0,1,1.3,0l.8.8a.89.89,0,0,1,.3.7,1.09,1.09,0,0,1-.3.7Zm-2.8-3.2a.89.89,0,0,1-.7-.3l-.7-.7a.89.89,0,0,1-.3-.7,1.09,1.09,0,0,1,.3-.7l4-4a1,1,0,0,1,1.4,0l.7.9a1.1,1.1,0,0,1,.2,1.1v.1L23,27.26a1.09,1.09,0,0,0-.5-.1m35.8-12.9-3.8-4.4a3.33,3.33,0,0,0-4.69-.41h0L47.85,11h-.1c-1.3-.4-5.7-1.7-7.9-1.4a2.66,2.66,0,0,0-1.1.3h-.2c-3.3-1-4.9-.4-6.1.1h-.1a5.93,5.93,0,0,1-1.9.5h-.9c-2.1,0-2.7,0-3.1-.3-1.8-1.5-3.3-1.4-4.6,0l-3.1,4.2c-1.4,1.6-.4,3.8.1,4.7l1.6,2.8a2.11,2.11,0,0,0,1,.6l.4.2-1.5,1.5a1.93,1.93,0,0,0-.07,2.73l.07.07.7.7a2.88,2.88,0,0,0,.7.5l.2.1v.2a1.89,1.89,0,0,0,.5,1.9l.8.8a1.89,1.89,0,0,0,1.3.5,1.51,1.51,0,0,0,.7-.1l.2-.1.1.2a4.38,4.38,0,0,0,.4.7l.8.8a2,2,0,0,0,2.3.4l.2-.1.1.2a4.38,4.38,0,0,0,.4.7l.8.8a2,2,0,0,0,2.8,0l.7-.7,1.2,1a2.48,2.48,0,0,0,1.1.6h.1a2.74,2.74,0,0,0,3.1-.5,2.3,2.3,0,0,0,.5-.8l.1-.4.6.5a2.48,2.48,0,0,0,1.1.6H42a2.74,2.74,0,0,0,3.1-.5,2.29,2.29,0,0,0,.6-1.2l.1-.3H46a4.22,4.22,0,0,0,1,.2,2.76,2.76,0,0,0,1.9-.8,2.63,2.63,0,0,0,.7-1.9v-.6h.8a2.53,2.53,0,0,0,1.8-.8,2.63,2.63,0,0,0,.7-1.9,2.53,2.53,0,0,0-.8-1.8l-.9-.9.4-.1a3.79,3.79,0,0,0,1.1-.6l5.2-5.2a3.49,3.49,0,0,0,1.2-2.3,3.77,3.77,0,0,0-.8-2.5" transform="translate(-18.03 -8.67)" style="fill:#1d1d1b"/></g></svg>
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Über <strong>40.000 Versicherungs-kunden</strong></p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 30.55 41.66"><defs><clipPath id="clip-path" transform="translate(-23.23 -1.24)"><rect x="23.25" y="1.27" width="30.5" height="41.7" style="fill:none"/></clipPath></defs><g style="clip-path:url(#clip-path)"><polygon points="30.02 41.13 0.53 41.13 0.53 15.03 15.63 0.73 30.02 15.03 30.02 41.13" style="fill:none;stroke:#1d1d1b;stroke-miterlimit:10;stroke-width:1.0499999523162842px"/></g><polygon points="24.02 22.23 18.52 22.23 18.52 16.53 12.03 16.53 12.03 22.23 6.53 22.23 6.53 29.13 12.03 29.13 12.03 34.83 18.52 34.83 18.52 29.13 24.02 29.13 24.02 22.23" style="fill:none;stroke:#00adf0;stroke-miterlimit:10;stroke-width:1.0499999523162842px"/></svg>
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p><strong>120 Kliniken und 240 MVZs</strong> als Mandanten</p>
                        <p>Partner zahlreicher Ärzteverbünde</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 36.72 50.84"><defs><clipPath id="clip-path" transform="translate(-20.54 -0.66)"><circle cx="38.5" cy="24.9" r="38" style="fill:none"/></clipPath></defs><g style="clip-path:url(#clip-path)"><path d="M53.29,44.77l-6.1-2.22a.47.47,0,0,0-.63.24.08.08,0,0,0,0,0l-2.22,6.1a.67.67,0,0,1-.87.38.64.64,0,0,1-.33-.28l-17-36.52L37,7.42,54,43.94C54.22,44.4,53.76,45,53.29,44.77Z" transform="translate(-20.54 -0.66)" style="fill:none;stroke:#1a171b;stroke-miterlimit:10;stroke-width:1.100000023841858px"/></g><g style="clip-path:url(#clip-path)"><path d="M34.15,50.32a1.89,1.89,0,0,1-1.75-1.2l-1.94-5.46-5.46,2a1.35,1.35,0,0,1-.65.18A2.09,2.09,0,0,1,22.78,45a1.71,1.71,0,0,1-.09-1.76l17-36.52L41.37,6l10.91,5.09.64,1.66L35.82,49.3a1.76,1.76,0,0,1-1.67,1" transform="translate(-20.54 -0.66)" style="fill:#4b4b4d"/></g><g style="clip-path:url(#clip-path)"><path d="M40.81,7.24l10.91,5.08-17,36.43a.64.64,0,0,1-.56.37.51.51,0,0,1-.55-.37l-2.22-6.1a.58.58,0,0,0-.46-.37h-.19l-6.1,2.22h-.18a.64.64,0,0,1-.59-.69.4.4,0,0,1,0-.15L40.81,7.24m1.11-2.32L38.59,6.13l-17,36.52a3.09,3.09,0,0,0,.19,3A3,3,0,0,0,24.35,47a3.39,3.39,0,0,0,1-.18l4.25-1.57,1.58,4.25a3.08,3.08,0,0,0,2.86,2,3,3,0,0,0,2.78-1.75l17-36.43L52.65,10Z" transform="translate(-20.54 -0.66)" style="fill:#fff"/></g><g style="clip-path:url(#clip-path)"><path d="M24.54,44.5l6.1-2.22a.49.49,0,0,1,.64.24v0l2.22,6.11a.62.62,0,0,0,.8.35.61.61,0,0,0,.31-.26l17-36.43L40.81,7.24l-17,36.42a.63.63,0,0,0,.74.84" transform="translate(-20.54 -0.66)" style="fill:#fff"/></g><g style="clip-path:url(#clip-path)"><path d="M24.54,44.5l6.1-2.22a.49.49,0,0,1,.64.24v0l2.22,6.11a.62.62,0,0,0,.8.35.61.61,0,0,0,.31-.26l17-36.43L40.81,7.24l-17,36.42A.62.62,0,0,0,24.54,44.5Z" transform="translate(-20.54 -0.66)" style="fill:none;stroke:#1a171b;stroke-miterlimit:10;stroke-width:1.100000023841858px"/></g><g style="clip-path:url(#clip-path)"><path d="M35.08,36.73a2.58,2.58,0,0,1-.83-.09h-.1a3.69,3.69,0,0,1-2.31-2.22l-.09-.09a2.36,2.36,0,0,0-1-1.3h0a1.52,1.52,0,0,0-.92-.28,1.46,1.46,0,0,0-.65.1h-.83A3.08,3.08,0,0,1,26,31.92h0a3.65,3.65,0,0,1-.93-3.23,2.17,2.17,0,0,0-.18-1.58L24.82,27c-.28-.55-.65-.65-1.3-.92a3.49,3.49,0,0,1-2.31-2.41V23.6A3.49,3.49,0,0,1,22,20.36a2.6,2.6,0,0,0,.65-1.47h0A2.65,2.65,0,0,0,22,17.31v-.09a3.47,3.47,0,0,1-.74-3v-.09a3.66,3.66,0,0,1,2.22-2.31l.09-.1a2.36,2.36,0,0,0,1.3-1h0A2.32,2.32,0,0,0,25,9.08a3.78,3.78,0,0,1,.93-3h0a3.27,3.27,0,0,1,2.31-.92,2.9,2.9,0,0,1,.83.09c.28,0,.46.09.65.09A1.55,1.55,0,0,0,30.64,5l.09-.1c.56-.27.65-.64.93-1.29a3.71,3.71,0,0,1,2.4-2.31h.09a3.63,3.63,0,0,1,.93-.09,3.8,3.8,0,0,1,2.31.92c.56.37.83.65,1.39.65h.09a2.56,2.56,0,0,0,1.57-.65L40.53,2a3.29,3.29,0,0,1,2.22-.83,3,3,0,0,1,.84.09h.09A3.69,3.69,0,0,1,46,3.54l.09.09a2.5,2.5,0,0,0,1,1.29h0A1.49,1.49,0,0,0,48,5.2a1.6,1.6,0,0,0,.65-.09c.28,0,.56-.09.83-.09a3,3,0,0,1,2.31.92h0a3.64,3.64,0,0,1,.93,3.24,2.24,2.24,0,0,0,.18,1.57l.1.09c.27.56.64.65,1.29.93a3.71,3.71,0,0,1,2.31,2.4v.09a3.5,3.5,0,0,1-.83,3.24,2.55,2.55,0,0,0-.63,1.5h0a2.69,2.69,0,0,0,.65,1.57l.09.09a3.44,3.44,0,0,1,.74,3.05v.1A3.68,3.68,0,0,1,54.4,26.1l-.09.09a2.5,2.5,0,0,0-1.29,1h0a2.19,2.19,0,0,0-.19,1.57A3.44,3.44,0,0,1,51.91,32h0a3.11,3.11,0,0,1-2.32.93,2.9,2.9,0,0,1-.83-.09c-.27,0-.46-.1-.64-.1a1.62,1.62,0,0,0-.93.28l-.09.09c-.56.28-.65.65-.93,1.3a3.71,3.71,0,0,1-2.4,2.31h-.09a3.63,3.63,0,0,1-.93.09,3.8,3.8,0,0,1-2.31-.92c-.55-.37-.83-.65-1.39-.65h0a2.69,2.69,0,0,0-1.57.65L37.3,36a3.7,3.7,0,0,1-2.22.74" transform="translate(-20.54 -0.66)" style="fill:#fff"/></g><g style="clip-path:url(#clip-path)"><path d="M49,13.15a11.64,11.64,0,1,1-16-4.25,11.63,11.63,0,0,1,16,4.25ZM35.08,36.73a2.58,2.58,0,0,1-.83-.09h-.1a3.69,3.69,0,0,1-2.31-2.22l-.09-.09a2.36,2.36,0,0,0-1-1.3h0a1.52,1.52,0,0,0-.92-.28,1.46,1.46,0,0,0-.65.1h-.83A3.08,3.08,0,0,1,26,31.92h0a3.65,3.65,0,0,1-.93-3.23,2.17,2.17,0,0,0-.18-1.58L24.82,27c-.28-.55-.65-.65-1.3-.92a3.49,3.49,0,0,1-2.31-2.41V23.6A3.49,3.49,0,0,1,22,20.36a2.6,2.6,0,0,0,.65-1.47h0A2.65,2.65,0,0,0,22,17.31v-.09a3.47,3.47,0,0,1-.74-3v-.09a3.66,3.66,0,0,1,2.22-2.31l.09-.1a2.36,2.36,0,0,0,1.3-1h0A2.32,2.32,0,0,0,25,9.08a3.78,3.78,0,0,1,.93-3h0a3.27,3.27,0,0,1,2.31-.92,2.9,2.9,0,0,1,.83.09c.28,0,.46.09.65.09A1.55,1.55,0,0,0,30.64,5l.09-.1c.56-.27.65-.64.93-1.29a3.71,3.71,0,0,1,2.4-2.31h.09a3.63,3.63,0,0,1,.93-.09,3.8,3.8,0,0,1,2.31.92c.56.37.83.65,1.39.65h.09a2.56,2.56,0,0,0,1.57-.65L40.53,2a3.29,3.29,0,0,1,2.22-.83,3,3,0,0,1,.84.09h.09A3.69,3.69,0,0,1,46,3.54l.09.09a2.5,2.5,0,0,0,1,1.29h0A1.49,1.49,0,0,0,48,5.2a1.6,1.6,0,0,0,.65-.09c.28,0,.56-.09.83-.09a3,3,0,0,1,2.31.92h0a3.64,3.64,0,0,1,.93,3.24,2.24,2.24,0,0,0,.18,1.57l.1.09c.27.56.64.65,1.29.93a3.71,3.71,0,0,1,2.31,2.4v.09a3.5,3.5,0,0,1-.83,3.24,2.55,2.55,0,0,0-.63,1.5h0a2.69,2.69,0,0,0,.65,1.57l.09.09a3.44,3.44,0,0,1,.74,3.05v.1A3.68,3.68,0,0,1,54.4,26.1l-.09.09a2.5,2.5,0,0,0-1.29,1h0a2.19,2.19,0,0,0-.19,1.57A3.44,3.44,0,0,1,51.91,32h0a3.11,3.11,0,0,1-2.32.93,2.9,2.9,0,0,1-.83-.09c-.27,0-.46-.1-.64-.1a1.62,1.62,0,0,0-.93.28l-.09.09c-.56.28-.65.65-.93,1.3a3.71,3.71,0,0,1-2.4,2.31h-.09a3.63,3.63,0,0,1-.93.09,3.8,3.8,0,0,1-2.31-.92c-.55-.37-.83-.65-1.39-.65h0a2.69,2.69,0,0,0-1.57.65L37.3,36A3.76,3.76,0,0,1,35.08,36.73Z" transform="translate(-20.54 -0.66)" style="fill:none;stroke:#1a171b;stroke-miterlimit:10;stroke-width:1.100000023841858px"/></g><g style="clip-path:url(#clip-path)"><polyline points="12.41 18.78 17.04 23.4 24.52 15.91" style="fill:none;stroke:#27aae1;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.100000023841858px"/></g></svg> 
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Seit <strong>1963</strong> für Sie erfolgreich.</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 41.02 27.16"><defs><clipPath id="clip-path" transform="translate(-18 -13.84)"><rect x="18" y="13.94" width="41" height="27.02" style="fill:none"/></clipPath></defs><g style="clip-path:url(#clip-path)"><path d="M33.87,41H30.72V39.91h2.63V31.39a6.06,6.06,0,0,0-6-6H25a6.06,6.06,0,0,0-6,6v8.52h2.63V41h-3.1a.5.5,0,0,1-.53-.47V31.47a7,7,0,0,1,7-6.94h2.42a7.06,7.06,0,0,1,7,7v9a.73.73,0,0,1-.64.42" transform="translate(-18 -13.84)" style="fill:#1d1d1b"/></g><g style="clip-path:url(#clip-path)"><path d="M26.2,15a4.63,4.63,0,1,0,4.63,4.63A4.63,4.63,0,0,0,26.2,15h0m0,10.2a5.68,5.68,0,1,1,5.68-5.68A5.68,5.68,0,0,1,26.2,25.2h0" transform="translate(-18 -13.84)" style="fill:#1d1d1b"/></g><g style="clip-path:url(#clip-path)"><path d="M58.58,41H55.43V39.91h2.62V31.39a6.06,6.06,0,0,0-6-6H49.64a6.06,6.06,0,0,0-6,6v8.52h2.63V41H43.13a.5.5,0,0,1-.53-.47V31.47a7,7,0,0,1,7-7H52a7,7,0,0,1,7,7v9c-.11.32-.32.53-.53.53" transform="translate(-18 -13.84)" style="fill:#1d1d1b"/></g><g style="clip-path:url(#clip-path)"><path d="M50.8,15a4.63,4.63,0,1,0,4.63,4.63A4.54,4.54,0,0,0,51,15H50.8m0,10.2a5.68,5.68,0,1,1,5.68-5.68A5.68,5.68,0,0,1,50.8,25.2h0" transform="translate(-18 -13.84)" style="fill:#1d1d1b"/></g><g style="clip-path:url(#clip-path)"><path d="M46.28,41H43.13V39.91h2.62V31.39a6.06,6.06,0,0,0-6-6H37.34a6.06,6.06,0,0,0-6,6v8.52H34V41H30.83a.5.5,0,0,1-.53-.47V31.47a7,7,0,0,1,7-7h2.42a7,7,0,0,1,7.05,7v9c-.11.32-.32.53-.53.53" transform="translate(-18 -13.84)" style="fill:#00adf0"/></g><g style="clip-path:url(#clip-path)"><path d="M38.5,15a4.63,4.63,0,1,0,4.63,4.63A4.63,4.63,0,0,0,38.5,15h0m0,10.2a5.68,5.68,0,1,1,5.68-5.68A5.68,5.68,0,0,1,38.5,25.2h0" transform="translate(-18 -13.84)" style="fill:#00adf0"/></g></svg>
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Inhabergeführte Unternehmens-gruppe</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28.95 36.62"><defs><clipPath id="clip-path" transform="translate(-24.1 -5.8)"><rect x="24.1" y="5.82" width="28.8" height="36.6" style="fill:none"/></clipPath></defs><g style="clip-path:url(#clip-path)"><path d="M27.3,42.42H24.1v-1.5h3.2a1.69,1.69,0,0,0,1.6-1.77V20a1.69,1.69,0,0,0-1.57-1.8H24.1V16.8h3.2a3,3,0,0,1,2.91,3.09.41.41,0,0,0,0,.11V39.2a3,3,0,0,1-2.79,3.19H27.3" transform="translate(-24.1 -5.8)" style="fill:#1d1d1b"/></g><g style="clip-path:url(#clip-path)"><path d="M47.1,41.12H36a4.18,4.18,0,0,1-2.4-.7l-1.6-.9.6-1.3,1.6.9a4,4,0,0,0,1.8.5H47.1a3.47,3.47,0,0,0,3.3-3.3l1.1-10.9a4.13,4.13,0,0,0-.8-2.9,3,3,0,0,0-2.5-1.2H44.3a2.18,2.18,0,0,1-.8-.1,2.86,2.86,0,0,1-1.7-1.7,3.58,3.58,0,0,1,0-2.5,15.67,15.67,0,0,0,1-7.3c-.2-.9-.6-2.4-2.1-2.4-1,0-1.8,1.5-2.1,2.2v.1c0,.1-.8,1.8-1.9,3.9a42,42,0,0,1-2.4,3.9l-.9,1.4A5,5,0,0,1,29.3,21V19.5a4,4,0,0,0,3.1-1.6l1.1-1.6a28.2,28.2,0,0,0,2.3-3.7c1.1-2,1.8-3.8,1.9-3.8V8.7c.4-.8,1.4-2.9,3.2-2.9s3,1.4,3.4,3.6h0a16.25,16.25,0,0,1-1.1,8.1,1.28,1.28,0,0,0,0,1.2,2,2,0,0,0,.9.9c.1,0,.3.1.4.1h3.9a4.54,4.54,0,0,1,3.5,1.7,5.25,5.25,0,0,1,1.1,4L51.9,36.3c-.4,2.8-2.4,4.8-4.8,4.8" transform="translate(-24.1 -5.8)" style="fill:#1d1d1b"/></g></svg>
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Über <strong>400</strong> festangestellte Mitarbeiter/-innen</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 25.3 42.2"><defs><clipPath id="clip-path" transform="translate(-25.75 -3.35)"><rect x="25.75" y="3.35" width="25.5" height="42.2" style="fill:none"/></clipPath></defs><g style="clip-path:url(#clip-path)"><path d="M38.45,4.75a11.15,11.15,0,0,0-11,11.3c0,4.3,5.6,15,10.8,23.7a.1.1,0,0,0,.2,0c5.2-8.6,10.8-19.4,10.8-23.7A10.87,10.87,0,0,0,38.82,4.76h-.37m0,36.5a1.56,1.56,0,0,1-1.3-.8c-3.3-5.5-11-18.8-11-24.4a12.51,12.51,0,0,1,12.3-12.7,12.59,12.59,0,0,1,12.4,12.7c0,5.6-7.7,18.9-11.1,24.4a1.34,1.34,0,0,1-1.3.8" transform="translate(-25.75 -3.35)" style="fill:#1d1d1b"/></g><g style="clip-path:url(#clip-path)"><path d="M38.45,19.05a4.8,4.8,0,1,1,4.7-4.9v.1h-1.4a3.3,3.3,0,1,0-3.3,3.4Z" transform="translate(-25.75 -3.35)" style="fill:#1d1d1b"/></g><g style="clip-path:url(#clip-path)"><path d="M38.45,45.55c-6.1,0-12.7-1.9-12.7-5.4,0-1.9,2.1-3.6,5.8-4.6l.3,1.4c-2.9.8-4.8,2-4.8,3.2,0,1.9,4.7,4,11.3,4s11.3-2.1,11.3-4c0-1.2-1.9-2.5-4.8-3.2l.3-1.4c3.7,1,5.9,2.7,5.9,4.6.2,3.5-6.4,5.4-12.6,5.4" transform="translate(-25.75 -3.35)" style="fill:#1d1d1b"/></g></svg>
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p><strong>38 Niederlassungen</strong> in Deutschland, Österreich und Schweiz</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41.2 42.3"><path d="M32.8,44.35H29.9v-1h2.4v-8a5.59,5.59,0,0,0-5.58-5.6H24.4a5.59,5.59,0,0,0-5.6,5.58v8h2.4v1H18.4a.47.47,0,0,1-.5-.44V35.35a6.59,6.59,0,0,1,6.58-6.6H26.8a6.59,6.59,0,0,1,6.6,6.58v8.52a.63.63,0,0,1-.6.5" transform="translate(-17.9 -2.05)" style="fill:#1d1d1b"/><path d="M25.6,20a4.3,4.3,0,1,0,4.3,4.3h0A4.33,4.33,0,0,0,25.6,20m0,9.6a5.27,5.27,0,1,1,.06,0H25.6" transform="translate(-17.9 -2.05)" style="fill:#1d1d1b"/><path d="M58.6,44.35H55.7v-1h2.4v-8a5.59,5.59,0,0,0-5.58-5.6H50.2a5.59,5.59,0,0,0-5.6,5.58v8H47v1H44.1a.47.47,0,0,1-.5-.44V35.35a6.59,6.59,0,0,1,6.58-6.6H52.5a6.59,6.59,0,0,1,6.6,6.58v8.52c-.1.3-.3.5-.5.5" transform="translate(-17.9 -2.05)" style="fill:#28aae1"/><path d="M51.3,20a4.3,4.3,0,1,0,4.3,4.3h0A4.27,4.27,0,0,0,51.36,20H51.3m0,9.6a5.3,5.3,0,1,1,5.3-5.3h0a5.21,5.21,0,0,1-5.12,5.3H51.3" transform="translate(-17.9 -2.05)" style="fill:#28aae1"/><path d="M37.2,17.25a13.76,13.76,0,0,1-3,.3,12.42,12.42,0,0,1-5.2-1.1c-.8-.3-4.9,1.3-5.5.8s2.3-3,1.9-3.6a6,6,0,0,1-1.2-3.6c0-4.1,4.5-7.5,10.1-7.5a13.39,13.39,0,0,1,5,1" transform="translate(-17.9 -2.05)" style="fill:none;stroke:#1d1d1b;stroke-linejoin:round"/><path d="M33.9,10.85c0,3.5,3.8,6.3,8.5,6.3a10.57,10.57,0,0,0,4.4-.9c.6-.3,4.1,1,4.6.6s-1.9-2.5-1.5-3a4.72,4.72,0,0,0,1-3c0-3.5-3.8-6.3-8.5-6.3S33.9,7.45,33.9,10.85Z" transform="translate(-17.9 -2.05)" style="fill:none;stroke:#28aae1;stroke-linejoin:round"/></svg>
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p><strong>Über 80 Kundenberater</strong> zur persönlichen Betreuung vor Ort</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>