<header class="l-navbar">
    <div class="l-navbar__bar">
        <a href="#" class="l-navbar__myhelmsauer d-flex">
            <div class="l-navbar__padlock">
                <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
<style type="text/css">
	.st0{clip-path:url(#SVGID_00000170267149673442788670000013546374699812355744_);fill:#FFFFFF;}
</style>
<g>
	<defs>
		<rect id="SVGID_1_" x="73" y="2.3" width="353.9" height="495.5"/>
	</defs>
	<clipPath id="SVGID_00000004508433385282669950000018341153651125938582_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SVGID_00000004508433385282669950000018341153651125938582_);fill:#FFFFFF;" d="M324.4,196.9H175.6v-80
		c1.2-41.2,35.4-73.6,76.5-72.4c39.4,1.1,71.2,32.9,72.3,72.4V196.9z M282,364.1v85.2h-63.9v-85.2c-8.2-5.1-15.2-12.1-20.5-20.4
		c-17.8-29-8.7-66.9,20.3-84.6c29-17.8,66.8-8.7,84.4,20.4C320.2,308.5,311.1,346.4,282,364.1 M376.1,196.9v-70.7
		C374.8,56.4,317.3,0.9,247.7,2.3c-67.7,1.3-122.3,56-123.6,123.9v70.7h-51v300.8H427V196.9H376.1z"/>
</g>
</svg>

            </div>
            <div class="l-navbar__login color-white f-400 text-login">myHELMSAUER</div>
        </a>
        <div class="wrapper-full">
            <div class="l-navbar__container d-flex">
                <div class="l-navbar__logo d-flex">
                    <a class="l-navbar__image d-block" href="index.html" target="">
                        <img class="l-navbar__img d-block" src="assets/images/logo.png">
                    </a>
                </div>
        
                <!-- Desktop Menu -->
                <div class="l-navbar__menu d-flex">
                    <div class="l-navbar__navigation">
                        <ul class="l-navbar__links d-flex list-reset">
                            <li class="l-navbar__item">
                                <div class="l-navbar__content">
                                    <div class="l-navbar__link text-links f-400">Gesundheitswesen</div>
                                    <div class="l-navbar__dropdown">
                                        <ul class="l-navbar__dropdown__container list-reset">
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <div class="l-navbar__dropdown__link">Ärzte</div>
                                                <div class="l-navbar__submenu">
                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Versicherung</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Arzthaftpflichtversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Cyberversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxisversicherungen</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Rechtschutzersicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Betriebliche Altersvorsorge</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Betriebliche Krankenversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Berufsunfähigkeitsversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Existenzschutz</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Kraftfahrzeugversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Private Risiken</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>

                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Abrechnung</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Privatpatienten</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Selektivverträge</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Selektivvertragsangebote</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Online Portale</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>

                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Beratung</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxis-/Stellenbörse</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxisübernahme</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxisbewertung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Betriebswirtschaftliche Beratung</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>

                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Bildungsangebot</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">E-Learnings</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Lehr- und Studiengänge</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Seminare</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Tagungen</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Webinare</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Workshops</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <a href="#" class="l-navbar__dropdown__link">MVZ</a>
                                                <div class="l-navbar__submenu">
                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Versicherung</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Arzthaftpflichtversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Cyberversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxisversicherungen</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Rechtschutzersicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Betriebliche Altersvorsorge</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Betriebliche Krankenversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Berufsunfähigkeitsversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Existenzschutz</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Kraftfahrzeugversicherung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Private Risiken</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>

                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Abrechnung</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Privatpatienten</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Selektivverträge</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Selektivvertragsangebote</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Online Portale</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>

                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Beratung</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxis-/Stellenbörse</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxisübernahme</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Praxisbewertung</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Betriebswirtschaftliche Beratung</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>

                                                    <div class="l-navbar__column d-flex">
                                                        <h2 class="l-navbar__column__title color-white text-header-four">Bildungsangebot</h2>
                                                        <ul class="l-navbar__column__list list-reset">
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">E-Learnings</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Lehr- und Studiengänge</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Seminare</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Tagungen</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Webinare</a>
                                                            </li>
                                                            <li class="l-navbar__column__item">
                                                                <a href="#" class="l-navbar__column__link text-links f-300 line-big">Workshops</a>
                                                            </li>
                                                        </ul>
                                                        <div class="l-navbar__column__show-all color-white text-links f=600">Alle anzeigen</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <a href="#" class="l-navbar__dropdown__link">Krankenhäuser</a>
                                            </li>
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <a href="#" class="l-navbar__dropdown__link">Praxiskliniken</a>
                                            </li>
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <a href="#" class="l-navbar__dropdown__link">Pflegeheime</a>
                                            </li>
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <a href="#" class="l-navbar__dropdown__link">Physiotherapeuten</a>
                                            </li>
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <a href="#" class="l-navbar__dropdown__link">Medizinisches Personal</a>
                                            </li>
                                            <li class="l-navbar__dropdown__item text-links f-400">
                                                <a href="#" class="l-navbar__dropdown__link">Kooperation mit Fachverbänden</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="l-navbar__item">
                                <div class="l-navbar__content">
                                    <a class="l-navbar__link text-links f-400" href="#" target="">Bildungsangebote</a>
                                </div>
                            </li>
                            <li class="l-navbar__item">
                                <div class="l-navbar__content">
                                    <a class="l-navbar__link text-links f-400" href="#" target="">Über Helmsauer</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="l-navbar__burger">
                    <div class="l-navbar__line"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div class="m-menu">
        <div class="m-menu__container">
            <ul class="m-menu__list list-reset">
                <li class="m-menu__item">
                    <div class="m-menu__element m-menu__link d-block text-links color-white u-text-center f-300">Gesundheitswesen</div>
                    <ul class="m-menu__dropdown list-reset">
                        <li class="m-menu__dropdown__item">
                            <div class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">Ärzte</div>
                            <ul class="m-menu__submenu list-reset">
                                <li class="m-menu__submenu__item">
                                    <a href="" class="m-menu__element m-menu__submenu__link d-block text-links color-white u-text-center f-300">Versicherung</a>
                                    <ul class="m-menu__pulldown">
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Artzthaftpflichtversicherung</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Cyberversicherung</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Praxisversicherungen</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Rechtschutzversicherung</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Betriebliche Altersvorsorge</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Betriebliche Krankenversicherung</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Berufsunfähigkeitsversicherung</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Existenzversicherung</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Kraftfahrzeugversicherung</a>
                                        </li>
                                        <li class="m-menu__pulldown__item">
                                            <a href="#" class="m-menu__element m-menu__pulldown__link d-block text-links color-white u-text-center f-300">Private Risiken</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="m-menu__submenu__item">
                                    <a href="#" class="m-menu__element m-menu__submenu__link d-block text-links color-white u-text-center f-300">Abrechnung</a>
                                </li>
                                <li class="m-menu__submenu__item">
                                    <a href="#" class="m-menu__element m-menu__submenu__link d-block text-links color-white u-text-center f-300">Beratung</a>
                                </li>
                                <li class="m-menu__submenu__item">
                                    <a href="#" class="m-menu__element m-menu__submenu__link d-block text-links color-white u-text-center f-300">Bildungsangebot</a>
                                </li>
                            </ul>
                        </li>
                        <li class="m-menu__dropdown__item">
                            <a href="#" class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">MVZ</a>
                        </li>
                        <li class="m-menu__dropdown__item">
                            <a href="#" class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">Krankenhäuser</a>
                        </li>
                        <li class="m-menu__dropdown__item">
                            <a href="#" class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">Praxiskliniken</a>
                        </li>
                        <li class="m-menu__dropdown__item">
                            <a href="#" class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">Pflegeheime</a>
                        </li>
                        <li class="m-menu__dropdown__item">
                            <a href="#" class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">Physiotherapeuten</a>
                        </li>
                        <li class="m-menu__dropdown__item">
                            <a href="#" class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">Medizinisches Personal</a>
                        </li>
                        <li class="m-menu__dropdown__item">
                            <a href="#" class="m-menu__element m-menu__dropdown__link d-block text-links color-white u-text-center f-300">Kooperation mit Fachverbänden</a>
                        </li>
                    </ul>
                </li>
                <li class="m-menu__item">
                    <a href="#" class="m-menu__element m-menu__link d-block text-links color-white u-text-center f-300">Bildungsangebote</a>
                </li>
                <li class="m-menu__item">
                    <a href="#" class="m-menu__element m-menu__link d-block text-links color-white u-text-center f-300">Über Helmsauer</a>
                </li>
            </ul>
        </div>
    </div>
</header>
