<div class="contact-info__wrapper wrapper-full">
    <section class="contact-info">
    <div class="contact-info__row d-flex">
        <div class="contact-info__image">
            <img class="contact-info__img d-block" src="https://via.placeholder.com/1400x1000" alt="">
        </div>
        <div class="contact-info__bar">
            <div class="contact-info__content d-flex">
                <div class="contact-info__headline">
                    <h2 class="contact-info__title text-header f-300 color-white">Sie wünschen mehr Informationen oder eine persönliche Beratung?</h2>
                    <h3 class="contact-info__subtitle text-subheader f-600 color-white">Nehmen Sie gerne Kontakt zu uns auf:</h3>
                </div>
                <div class="contact-info__contact d-flex">
                    <div class="contact-info__details d-flex">
                        <a class="contact-info__item d-flex" href="mailto:service@helmsauer-gruppe.de">
                            <div class="contact-info__svg">
                                <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24.6 24.6" style="enable-background:new 0 0 24.6 24.6;" xml:space="preserve">
<style type="text/css">
	.st0{clip-path:url(#SVGID_00000021840278831386856640000011488321149190949276_);fill:#00ADF0;}
</style>
<g>
	<defs>
		<rect id="SVGID_1_" x="0.3" y="0.2" width="24.1" height="24.1"/>
	</defs>
	<clipPath id="SVGID_00000133518835402444330830000018152231938670981782_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SVGID_00000133518835402444330830000018152231938670981782_);fill:#00ADF0;" d="M3,1.2
		C2,1.2,1.2,2,1.2,3v18.5c0,1,0.8,1.8,1.8,1.8h18.5c1,0,1.8-0.8,1.8-1.8V3c0-1-0.8-1.8-1.8-1.8H3z M21.6,24.3H3
		c-1.5,0-2.8-1.2-2.8-2.8V3c0-1.5,1.2-2.8,2.8-2.8h18.5c1.5,0,2.8,1.2,2.8,2.8v18.5C24.4,23.1,23.1,24.3,21.6,24.3"/>
	<path style="clip-path:url(#SVGID_00000133518835402444330830000018152231938670981782_);fill:#00ADF0;" d="M12.3,20.3
		c-2.2,0-4.2-0.9-5.8-2.5S4.2,14.2,4.3,12C4.5,7.8,7.9,4.5,12,4.3c2.4-0.1,4.6,0.9,6.2,2.6c1.4,1.5,2.1,3.4,2.1,5.4
		c0,0.8-0.1,1.6-0.4,2.4c-0.3,1-1.2,1.6-2.2,1.6c-1.3,0-2.3-1-2.3-2.3v-1.7h1V14c0,0.8,0.6,1.4,1.4,1.4c0.6,0,1.1-0.4,1.3-1
		c0.2-0.7,0.3-1.4,0.3-2.1c0-1.8-0.7-3.4-1.8-4.7C16.1,6,14.1,5.2,12,5.3C8.4,5.4,5.4,8.4,5.3,12c-0.1,1.9,0.6,3.8,2,5.2
		s3.1,2.2,5.1,2.2V20.3z"/>
	<path style="clip-path:url(#SVGID_00000133518835402444330830000018152231938670981782_);fill:#00ADF0;" d="M12.1,17.3
		c-2.4,0-4.3-2.2-4.3-5c0-2.7,1.9-5,4.3-5s4.3,2.2,4.3,5h-1c0-2.2-1.5-4-3.3-4s-3.3,1.8-3.3,4c0,2.2,1.5,4,3.3,4
		c0.8,0,1.5-0.3,2.1-0.9l0.7,0.7C14.1,16.9,13.1,17.3,12.1,17.3"/>
</g>
</svg>

                            </div>
                            <div class="contact-info__text color-white text-contact f-600">service@helmsauer-gruppe.de</div>
                        </a>
                        <a class="contact-info__item d-flex" href="tel:09119292185">
                            <div class="contact-info__svg">
                                <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24.6 24.6" style="enable-background:new 0 0 24.6 24.6;" xml:space="preserve">
<style type="text/css">
	.st0{clip-path:url(#SVGID_00000137837164116338076900000007179906319994610062_);fill:#00ADF0;}
</style>
<g>
	<defs>
		<rect id="SVGID_1_" width="24.6" height="24.6"/>
	</defs>
	<clipPath id="SVGID_00000002376643314689707170000001704805967956863363_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<path style="clip-path:url(#SVGID_00000002376643314689707170000001704805967956863363_);fill:#00ADF0;" d="M5,1.8L5,1.8L5,1.8
		 M5,1.8L5,1.8 M5,1.8L5,1.8L5,1.8 M5.2,1.8C5.2,1.8,5.2,1.8,5.2,1.8C5.2,1.8,5.2,1.8,5.2,1.8 M5.2,1.8L5.2,1.8z M5.1,1.8
		c-2.2,0-4,1.8-4,4c0,0,0,0,0,0.1c0,0,0,0,0,0c0.1,9.7,8.1,17.7,17.8,17.7c2.2,0,4-1.8,4-4c0-0.3,0-0.6-0.1-0.9
		c0-0.1-0.1-0.2-0.1-0.3l-6.9-1.5c-0.5,0.5-0.8,1.1-0.9,1.8c0,0.1-0.1,0.3-0.3,0.3c-0.1,0.1-0.3,0.1-0.4,0c-4-1.4-7.2-4.6-8.6-8.5
		c0-0.1,0-0.3,0-0.4C5.8,9.9,5.9,9.8,6,9.8c0.7-0.1,1.3-0.5,1.8-0.9L6.3,1.9C6.2,1.9,6.1,1.9,6,1.9C5.7,1.8,5.4,1.8,5.1,1.8
		C5.1,1.8,5.1,1.8,5.1,1.8 M18.9,24.6C8.5,24.6,0.1,16.2,0,5.9c0,0,0-0.1,0-0.1v0C0,3,2.3,0.7,5.1,0.7c0,0,0,0,0,0c0,0,0,0,0,0
		c0.4,0,0.7,0,1.1,0.1c0.2,0,0.5,0.1,0.7,0.2c0.2,0.1,0.3,0.2,0.3,0.4l1.7,7.5c0,0.2,0,0.4-0.1,0.5c-0.5,0.6-1.2,1-1.9,1.2
		c1.3,3.2,4,5.9,7.2,7.2c0.3-0.7,0.7-1.4,1.2-1.9c0.1-0.1,0.3-0.2,0.5-0.1l7.4,1.6c0.2,0,0.3,0.2,0.4,0.3c0.1,0.2,0.2,0.5,0.2,0.7
		c0.1,0.4,0.1,0.8,0.1,1.2C23.9,22.3,21.7,24.6,18.9,24.6"/>
	<path style="clip-path:url(#SVGID_00000002376643314689707170000001704805967956863363_);fill:#00ADF0;" d="M18.3,11.7h-1
		c0-1.5-0.8-3-2.2-3.7l0.5-0.9C17.3,8,18.3,9.8,18.3,11.7"/>
	<path style="clip-path:url(#SVGID_00000002376643314689707170000001704805967956863363_);fill:#00ADF0;" d="M14.1,7.6
		c-0.4-0.1-0.8-0.2-1.2-0.2v-1c0.5,0,1,0.1,1.5,0.2L14.1,7.6z"/>
	<path style="clip-path:url(#SVGID_00000002376643314689707170000001704805967956863363_);fill:#00ADF0;" d="M24.6,10.6h-1
		c0-1-0.2-2-0.5-2.9l1-0.3C24.5,8.4,24.6,9.5,24.6,10.6"/>
	<path style="clip-path:url(#SVGID_00000002376643314689707170000001704805967956863363_);fill:#00ADF0;" d="M22.7,6.6
		C21.2,3.2,17.8,1,14,1V0c4.1,0,7.9,2.4,9.6,6.2L22.7,6.6z"/>
</g>
</svg>

                            </div>
                            <div class="contact-info__text color-white text-number f-600">0911-9292-185</div>
                        </a>
                    </div>
                    <div class="contact-info__cta">
                        <a class="contact-info__btn u-btn" href="#">Kontaktanfrage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>