.u-announcement__wrapper {
    margin-bottom: 30px;

    @include bp(medium) {
        margin-bottom: 50px;
    }
     
    @include bp(large) {
        margin-bottom: 70px;
    }
}

.u-announcement__top {
    display: flex;
    align-items: center;
    padding: 0 0 10px 0;

    @include bp(medium) { 
        padding: 0 30px 20px 30px;
    }
}

.u-announcement__svg {
    width: 45px;
    height: 45px;

    svg {
        width: 100%;
        height: 100%;
    }

    @include bp(medium) {
        width: 70px;
        height: 70px;
    }
}

.u-announcement__header {
    padding-left: 15px;

    @include bp(medium) {
        padding-left: 40px;
    }
}

.u-announcement__bottom {
    border-top: 3px solid $color-border-blue-2;
    border-bottom: 3px solid $color-border-blue-2;
    padding: 20px 0 30px 0;
    flex-direction: column;
    align-items: center; 

    @include bp(medium) {
        border-top: 7px solid $color-border-blue-2;
        border-bottom: 7px solid $color-border-blue-2;
    }

    @include bp(large) {
        padding: 20px 0 25px 0;
        flex-direction: row;
    }
}

.u-announcement__content {
    width: 100%;
    margin-bottom: 26px;

    @include bp(large) {
        width: 76%;
        padding-right: 80px;
        margin-bottom: 0;
    }
}

.u-announcement__image {
    width: 55%;

    @include bp(large) {
        width: 25%;
        padding-right: 80px;
    }
}

.u-announcement__img {
    max-width: 100%;
    height: 100%;
}

.u-announcement__content__title {
    margin-bottom: 15px; 
}

.u-announcement__copy {
    margin-bottom: 16px;

    p {
        margin: 0 0 16px 0; 

        &:last-child { 
            margin-bottom: 0;
        }

        @include bp(xlarge) {
            margin: 0 0 20px 0; 
        }
    }

    strong {
        @extend .f-600;
    }

    @include bp(large) {
        margin-bottom: 0;
    }
}

// ==========================================================================
// # ANNOUNCEMENT (AKTUELLES) / PARTIAL
// ==========================================================================

.u-announcement__more {
    display: inline-block;
    position: relative;
    padding-left: 22px;

    @include bp(large) {
        padding-left: 0;
    }

    @include bp(xlarge) {
        cursor: pointer;
    }
}

.u-announcement__more::after {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 6.6 3.9' style='enable-background:new 0 0 6.6 3.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%2300ADF0;stroke-width:1.2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='5.9,0.6 3.3,3.3 0.7,0.6 '/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
    width: 14px;
    height: 9px;

    @include bp(large) {
        left: unset;
        right: -20px;
        top: 0;
    }
}