/* ==========================================================================
   #BRANCHENAUSWAHL (INFO CARDS) / PARTIAL
   ========================================================================== */

.info-cards__wrapper {
    margin-bottom: 27px;

    @include bp(medium) {
        margin-bottom: 50px;
    }

    @include bp(large) {
        margin-bottom: 70px;
    }
}

.info-cards__row {
    flex-direction: column;

    @include bp(large) {
        flex-direction: row;
        margin: 0 -25px;
    }

    @include bp(xlarge) {
        margin: 0 -6px;
    }
}


.info-cards__column {
    width: 100%;
    margin-bottom: 27px;

    &:last-child {
        margin-bottom: 0;
    }

    @include bp(large) {
        width: calc(50% - 50px);
        margin: 25px 25px;

        &:last-child {
            margin: 25px 25px; 
        }
    }

    @include bp(xlarge) {
        width: calc(25% - 12px);
        margin: 11px 6px;

        &:last-child {
            margin: 11px 6px; 
        }
    }
}

.info-cards__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-cards__box {
    position: relative;
    overflow: hidden;
    margin-top: -15px;
    background-color: $color-bg-blue-2;
    width: 260px;
    margin-bottom: 10px;

    @include bp(large) {
        margin-bottom: 15px;
    }
}

.info-cards__content {
    position: relative;
    padding: 12px 20px 12px 20px;
    z-index: $z-lvl-1;
    
    @include bp(large) {
        padding: 20px 20px 20px 20px; 
    }
}

.info-cards__title {
    @include bp(large) {
        margin-bottom: 5px;
    }
}

.info-cards__copy {
    display: none;
    margin: 0;

    @include bp(large) {
        display: block; 
    }
}

.info-cards__copy__mobile {
    display: block;
    margin: 0 0 10px 0; 

    @include bp(large) {
        display: none;
    }
}

.info-cards__list {
    padding-left: 20px;
    margin: 0;

    @include bp(large) {
        padding-left: 40px;
    }
    
}

.info-cards__item {
    position: relative;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.info-cards__item::before {
    content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00586 10.503L5.53281 5.97607L1.00586 1.61679' stroke='%2300ADF0' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 1px; 
}