// ==========================================================================
// # STANDARD ROW (FLIESSTEXT USP & FLIESSTEXT UBER UNS) / PARTIAL
// ==========================================================================

.standard-row__wrapper {
    margin-bottom: 27px;

    @include bp(medium) {
        margin-bottom: 50px;
    }

    @include bp(large) {
        margin-bottom: 70px;
    }
}

.standard-row {
    flex-direction: column;
    align-items: center;

    @include bp(large) {
        flex-direction: row;
        align-items: unset;
    }
}

.standard-row__image {
    width: 100%;
    margin-bottom: 15px; 

    @include bp(medium) {
        margin-bottom: 27px;
    }   

    @include bp(large) {
        width: 36%;
        margin-bottom: 0;
    }
}

.standard-row__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.standard-row__content {
    width: 100%;

    @include bp(large) {
        padding-left: 13px;
        width: 64%;
    }
}

.standard-row__title {
    margin-bottom: 5px; 
    
    @include bp(large) {
        margin-bottom: 17px;
    }
}

.standard-row__subtitle {
    margin-bottom: 16px;
    
    @include bp(large) {
        margin-bottom: 20px;
    }
}

.standard-row__copy {
    p {
        margin: 0 0 16px 0; 

        &:last-child { 
            margin-bottom: 0;
        }

        @include bp(large) {
            margin: 0 0 20px 0; 
        }
    }

    strong {
        @extend .f-600;
        text-decoration: underline;

        @include bp(large) {
            text-decoration: none;
        }
    }
}

// Modifiers

.standard-row--revert {
    .standard-row__content {
        @include bp(large) {
            padding-left: 0;
            padding-right: 13px; 
            order: 0;
        } 
    }

    .standard-row__image {
        @include bp(large) {
            order: 2;
        }
    }
}