// ==========================================================================
// # FOOTER / STATIC
// ==========================================================================

.u-footer {
    background-color: $color-bg-blue-3;
}

.u-footer__container {
    padding: 20px 0;
}

.u-footer__top {
    margin-bottom: 15px;
}

.u-footer__title {
    width: 50%;
}

.u-footer__navigation {
    width: 50%;
}

.u-footer__list {
    padding: 0;
    margin: 0;
}

.u-footer__item {
    padding-right: 20px;
}

.u-footer__address {
    padding-right: 20px;
}

.u-footer__svg {
    width: 40px;
    height: 40px;

    svg {
        width: 100%;
        height: 100%;
    }
}