// ==========================================================================
// # ICONS ROW (GUT ZU WISSEN BAUSTEIN) / PARTIAL
// ==========================================================================

.icons-row__wrapper {
    margin-bottom: 36px;

    @include bp(medium) {
        margin-bottom: 50px;
    }

    @include bp(large) {
        margin-bottom: 70px;
    }
}

.icons-row__title {
    margin-bottom: 5px;
}

.icons-row__subtitle {
    margin-bottom: 15px;
}

.icons-row__icons {
    margin: 0 -10px;

    @include bp(medium) {
        margin: 0 -25px;
    }

    @include bp(xlarge) {
        margin: 0 -20px;
    }
}

.icons-row__item {
    margin: 20px 5px; 
    width: calc(50% - 10px);
    flex-direction: column;

    @include bp(small) {
        margin: 30px 25px;
        width: calc(33.33% - 50px); 

    }

    @include bp(xlarge) {
        margin: 20px;
        flex: 1;
    }
}
 
.icons-row__image {
    display: flex;
    margin-bottom: 18px;
    justify-content: center;

    svg {
        width: 40px;
        height: 30px;
    }

    @include bp(medium) {
        svg {
            width: 70px;
            height: 50px;
        }
    }

    @include bp(medium) {
        margin-bottom: 30px;
    }
}

.icon-row__text {
    text-align: center;

    p {
        margin: 0 0 15px 0; 

        &:last-child { 
            margin-bottom: 0;
        }
    }

    strong {
        @extend .f-600;
    }
}