// ==========================================================================
// # CONTACT INFO (KONTAKTBAUSTEIN) / PARTIAL
// ==========================================================================

.contact-info__wrapper {
    min-height: 120px;
    margin-bottom: 34px;

    @include bp(medium) {
        margin-bottom: 50px;
    }

    @include bp(large) {
        margin-bottom: 70px;
    }   
}

.contact-info {
    margin: 0 -20px;

    @include bp(medium) {
        margin: 0 -40px;
    }
    
    @include bp(large) {
        margin: 0;
    }
}

.contact-info__row {
    flex-direction: column;

    @include bp(large) {
        flex-direction: row;
    }
}

.contact-info__image {
    width: 100%;

    @include bp(large) {
        width: 24%;
    }
}

.contact-info__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-info__bar {
    width: 100%;
    background-color: $color-bg-blue-3;
    padding: 20px 20px 40px 20px;

    @include bp(medium) {
        padding: 40px 40px;
    }

    @include bp(large) {
        width: 76%;
        padding: 20px 0 40px 20px;
    }
}

.contact-info__content {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contact-info__headline {
    margin-bottom: 36px;

    @include bp(large) {
        margin-bottom: 40px;
    }
}

.contact-info__title {
    margin-bottom: 16px;

    @include bp(large) {
        margin-bottom: 5px; 
    }
}

.contact-info__contact {
    flex-direction: column;
    justify-content: space-between;

    @include bp(large) {
        flex-direction: row;
    }
}

.contact-info__details {
    flex-direction: column;

    @include bp(large) {
        flex-direction: row;
    }
}

.contact-info__item {
    align-items: center;
    margin-bottom: 25px;

    @include bp(large) {
        margin-bottom: 0;
        padding-right: 20px;
    }
}

.contact-info__svg {
    width: 40px;
    height: 40px;

    svg {
        width: 100%;
        height: 100%;
    }
}

.contact-info__text {
    padding-left: 10px;
    text-decoration: underline;

    @include bp(large) {
        padding-left: 20px;
        text-decoration: none;
    }
}

.contact-info__cta {
    display: flex;
    justify-content: center;

    @include bp(small) {
        display: block;
        justify-content: unset;
    }
    
    @include bp(large) {
        padding-right: 60px;
    }
}