// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 15px !default;
$global-opacity: 0.4;
$default-transition: all 200ms linear !default;
$menu-transition: all 50ms linear;  

/* Fonts
   ========================================================================== */

$font-family-text: "Open Sans", sans-serif;

/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #ffffff;
$color-black: #000;
$color-blue: #0073CD;
$color-blue-2: #E5F0F9;
$color-blue-3: #00335E;
$color-blue-4: #00ADF0;
$color-blue-5: #0274B4;
$color-gray: #EDF1F5;
$color-gray-2: #F8F9FB;


// Text
$color-text: $color-blue-3;
$color-text-white: $color-white;
$color-text-blue-4: $color-blue-4; 

// Background
$color-bg-black: $color-black;
$color-bg-white: $color-white;
$color-bg-blue: $color-blue;
$color-bg-blue-2: $color-blue-2;
$color-bg-blue-3: $color-blue-3;
$color-bg-blue-4: $color-blue-4;
$color-bg-blue-5: $color-blue-5;
$color-bg-gray: $color-gray;
$color-bg-gray-2: $color-gray-2;

// RGBA 
$transparent-white: rgba(255, 255, 255, 0.9); 
$transparent-blue: rgba(0, 51, 94, 0.9);;
$transparent-lightblue: rgba(0, 115, 205, 0.5);
$transparent-black: rgba(0, 0, 0, 0.25);

// Borders
$color-border-blue-2: $color-blue-2;

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Family
$text-family: $font-family-text;
