<footer class="u-footer">
    <div class="wrapper-full">
        <div class="u-footer__container">
            <div class="u-footer__top d-flex">
                <div class="u-footer__title text-body f-600 color-white">Zentrale</div>
                <div class="u-footer__navigation">
                    <ul class="u-footer__list list-reset d-flex">
                        <li class="u-footer__item">
                            <a href="#" class="u-footer__link text-body f-600 color-white">Karriere</a>
                        </li>
                        <li class="u-footer__item">
                            <a href="#" class="u-footer__link text-body f-600 color-white">Standorte</a>
                        </li>
                        <li class="u-footer__item">
                            <a href="#" class="u-footer__link text-body f-600 color-white">Datenschutz</a>
                        </li>
                        <li class="u-footer__item">
                            <a href="#" class="u-footer__link text-body f-600 color-white">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-footer__middle d-flex">
                <div class="u-footer__address text-links f-300 color-white">Helmsauer Gruppe<br>Dürrenhofstr. 4<br>90402 Nürnberg</div>
                <div class="u-footer__details d-flex">
                    <a class="u-footer__item d-flex" href="mailto:service@helmsauer-gruppe.de">
                        <div class="u-footer__svg">
                            {% include "../../images/svg/banana.svg" %}
                        </div>
                        <div class="u-footer__text color-white text-contact f-600">service@helmsauer-gruppe.de</div>
                    </a>
                    <a class="u-footer__item d-flex" href="tel:09119292185">
                        <div class="u-footer__svg">
                            {% include "../../images/svg/banana.svg" %}
                        </div>
                        <div class="u-footer__text color-white text-number f-600">0911-9292-185</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>