<div class="icons-row__wrapper wrapper-full">
    <section class="icons-row">
        <div class="icons-row__container">
            <h2 class="icons-row__title text-header-two f-300">Gut zu wissen</h2>
            <h3 class="icons-row__subtitle text-subheader-two f-600">Über die HELMAUER Gruppe</h3>
            <div class="icons-row__icons d-flex d-flex-wrap">
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        {% include "../../images/svg/handshake-icon.svg" %}
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Über <strong>40.000 Versicherungs-kunden</strong></p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        {% include "../../images/svg/hospital-icon.svg" %}
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p><strong>120 Kliniken und 240 MVZs</strong> als Mandanten</p>
                        <p>Partner zahlreicher Ärzteverbünde</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        {% include "../../images/svg/Icons_GutZuWissen_1963erfolgreich_Erfolg.svg" %} 
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Seit <strong>1963</strong> für Sie erfolgreich.</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        {% include "../../images/svg/people-icon.svg" %}
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Inhabergeführte Unternehmens-gruppe</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        {% include "../../images/svg/like-icon.svg" %}
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p>Über <strong>400</strong> festangestellte Mitarbeiter/-innen</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        {% include "../../images/svg/pin-icon.svg" %}
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p><strong>38 Niederlassungen</strong> in Deutschland, Österreich und Schweiz</p>
                    </div>
                </div>
                <div class="icons-row__item d-flex">
                    <div class="icons-row__image">
                        {% include "../../images/svg/talk-icon.svg" %}
                    </div>
                    <div class="icon-row__text text-body f-300">
                        <p><strong>Über 80 Kundenberater</strong> zur persönlichen Betreuung vor Ort</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>