<div class="contact-info__wrapper wrapper-full">
    <section class="contact-info">
    <div class="contact-info__row d-flex">
        <div class="contact-info__image">
            <img class="contact-info__img d-block" src="https://via.placeholder.com/1400x1000" alt="">
        </div>
        <div class="contact-info__bar">
            <div class="contact-info__content d-flex">
                <div class="contact-info__headline">
                    <h2 class="contact-info__title text-header f-300 color-white">Sie wünschen mehr Informationen oder eine persönliche Beratung?</h2>
                    <h3 class="contact-info__subtitle text-subheader f-600 color-white">Nehmen Sie gerne Kontakt zu uns auf:</h3>
                </div>
                <div class="contact-info__contact d-flex">
                    <div class="contact-info__details d-flex">
                        <a class="contact-info__item d-flex" href="mailto:service@helmsauer-gruppe.de">
                            <div class="contact-info__svg">
                                {% include "../../images/svg/email.svg" %}
                            </div>
                            <div class="contact-info__text color-white text-contact f-600">service@helmsauer-gruppe.de</div>
                        </a>
                        <a class="contact-info__item d-flex" href="tel:09119292185">
                            <div class="contact-info__svg">
                                {% include "../../images/svg/phone.svg" %}
                            </div>
                            <div class="contact-info__text color-white text-number f-600">0911-9292-185</div>
                        </a>
                    </div>
                    <div class="contact-info__cta">
                        <a class="contact-info__btn u-btn" href="#">Kontaktanfrage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>