@font-face {
    font-family: 'Gilroy Light';
    src: url('/wp-content/themes/peaforme/src/fonts/Gilroy-Light.woff') format('woff'),
         url('/wp-content/themes/peaforme/src/fonts/Gilroy-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/wp-content/themes/peaforme/src/fonts/Gilroy-Medium.woff') format('woff'),
         url('/wp-content/themes/peaforme/src/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('/wp-content/themes/peaforme/src/fonts/Gilroy-Bold.woff') format('woff'),
         url('/wp-content/themes/peaforme/src/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
